In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import roc_auc_score, plot_roc_curve

In [3]:
!ls

'NFL Gambling Modeling.ipynb'		 spreadspoke.R
'NFL Gambling Pre-Modeling Work.ipynb'	 spreadspoke_scores.csv
 nfl_stadiums.csv			 Untitled.ipynb
 nfl_teams.csv

In [4]:
df1 = pd.read_csv('spreadspoke_scores.csv')

In [5]:
df1 = df1.loc[(df1['schedule_season'] >= 1979) & (df1['schedule_week'] != 'Superbowl') 
              & (df1['stadium_neutral'] == False) & (df1['team_favorite_id'] != 'PICK')]

In [6]:
df1 = df1.drop(columns= 'stadium_neutral')

In [7]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN

In [8]:
len(df1)

10498

In [9]:
df1.describe()

,schedule_season,score_home,score_away,spread_favorite,weather_temperature,weather_wind_mph,weather_humidity
count,10498.000000,10498.000000,10498.000000,10498.000000,9694.000000,9694.000000,6223.000000
mean,2001.010859,22.791960,20.050391,-5.465089,59.912833,7.206519,66.515186
std,12.255204,10.377662,10.081200,3.399308,15.475054,5.741684,16.095935
min,1979.000000,0.000000,0.000000,-26.500000,-6.000000,0.000000,4.000000
25%,1991.000000,16.000000,13.000000,-7.000000,49.000000,0.000000,56.000000
50%,2002.000000,23.000000,20.000000,-4.500000,64.000000,7.000000,68.000000
75%,2012.000000,30.000000,27.000000,-3.000000,72.000000,11.000000,78.000000
max,2021.000000,62.000000,59.000000,-1.000000,97.000000,40.000000,100.000000

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10498 entries, 2501 to 13230
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   schedule_date        10498 non-null  object
 1   schedule_season      10498 non-null  int64
 2   schedule_week        10498 non-null  object
 3   schedule_playoff     10498 non-null  bool
 4   team_home            10498 non-null  object
 5   score_home           10498 non-null  float64
 6   score_away           10498 non-null  float64
 7   team_away            10498 non-null  object
 8   team_favorite_id     10498 non-null  object
 9   spread_favorite      10498 non-null  float64
 10  over_under_line      10498 non-null  object
 11  stadium              10498 non-null  object
 12  weather_temperature  9694 non-null   float64
 13  weather_wind_mph     9694 non-null   float64
 14  weather_humidity     6223 non-null   float64
 15  weather_detail       2586 non-null   object
dtypes: bool(1), float64(6), int64(1), object(8)
memory usage: 1.3+ MB

In [11]:
home_teams = df1['team_home']

In [12]:
home_team_ab = []
for team in home_teams:
    if team.__contains__('Cardinals'):
        home_team_ab.append('ARI')
    elif team.__contains__('Falcons'):
        home_team_ab.append('ATL')
    elif team.__contains__('Ravens'):
        home_team_ab.append('BAL')
    elif team.__contains__('Bills'):
        home_team_ab.append('BUF')
    elif team.__contains__('Panthers'):
        home_team_ab.append('CAR')
    elif team.__contains__('Bears'):
        home_team_ab.append('CHI')
    elif team.__contains__('Bengals'):
        home_team_ab.append('CIN')
    elif team.__contains__('Browns'):
        home_team_ab.append('CLE')
    elif team.__contains__('Cowboys'):
        home_team_ab.append('DAL')
    elif team.__contains__('Broncos'):
        home_team_ab.append('DEN')
    elif team.__contains__('Lions'):
        home_team_ab.append('DET')
    elif team.__contains__('Packers'):
        home_team_ab.append('GB')
    elif team.__contains__('Texans'):
        home_team_ab.append('HOU')
    elif team.__contains__('Colts'):
        home_team_ab.append('IND')
    elif team.__contains__('Jaguars'):
        home_team_ab.append('JAX')
    elif team.__contains__('Chiefs'):
        home_team_ab.append('KC')
    elif team.__contains__('Chargers'):
        home_team_ab.append('LAC')
    elif team.__contains__('Rams'):
        home_team_ab.append('LAR')
    elif team.__contains__('Dolphins'):
        home_team_ab.append('MIA')
    elif team.__contains__('Vikings'):
        home_team_ab.append('MIN')
    elif team.__contains__('Patriots'):
        home_team_ab.append('NE')
    elif team.__contains__('Saints'):
        home_team_ab.append('NO')
    elif team.__contains__('Giants'):
        home_team_ab.append('NYG')
    elif team.__contains__('Jets'):
        home_team_ab.append('NYJ')
    elif team.__contains__('Raiders'):
        home_team_ab.append('LVR')
    elif team.__contains__('Eagles'):
        home_team_ab.append('PHI')
    elif team.__contains__('Steelers'):
        home_team_ab.append('PIT')
    elif team.__contains__('Seahawks'):
        home_team_ab.append('SEA')
    elif team.__contains__('49ers'):
        home_team_ab.append('SF')
    elif team.__contains__('Buccaneers'):
        home_team_ab.append('TB')
    elif team.__contains__('Oilers'):
        home_team_ab.append('TEN')
    elif team.__contains__('Titans'):
        home_team_ab.append('TEN')
    elif team.__contains__('Redskins'):
        home_team_ab.append('WAS')
    elif team.__contains__('Football Team'):
        home_team_ab.append('WAS')

In [13]:
df1['team_home_id'] = home_team_ab
df1

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN,TB
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN,BUF
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN,CHI
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN,DEN
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN,KC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,1/22/2022,2021,Division,True,Tennessee Titans,16.0,19.0,Cincinnati Bengals,TEN,-4.0,48.5,Nissan Stadium,35.0,0.0,43.0,NaN,TEN
13227,1/23/2022,2021,Division,True,Kansas City Chiefs,42.0,36.0,Buffalo Bills,KC,-2.5,54.0,Arrowhead Stadium,35.0,6.0,54.0,NaN,KC
13228,1/23/2022,2021,Division,True,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,TB,-3.0,48.0,Raymond James Stadium,50.0,11.0,69.0,NaN,TB
13229,1/30/2022,2021,Conference,True,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,KC,-7.0,54.5,Arrowhead Stadium,41.0,4.0,41.0,NaN,KC
13230,1/30/2022,2021,Conference,True,Los Angeles Rams,20.0,17.0,San Francisco 49ers,LAR,-3.5,46.0,SoFi Stadium,72.0,0.0,NaN,DOME,LAR

In [14]:
away_teams = list(df1['team_away'].values)

In [15]:
away_team_ab = []
for team in away_teams:
    if team.__contains__('Cardinals'):
        away_team_ab.append('ARI')
    elif team.__contains__('Falcons'):
        away_team_ab.append('ATL')
    elif team.__contains__('Ravens'):
        away_team_ab.append('BAL')
    elif team.__contains__('Bills'):
        away_team_ab.append('BUF')
    elif team.__contains__('Panthers'):
        away_team_ab.append('CAR')
    elif team.__contains__('Bears'):
        away_team_ab.append('CHI')
    elif team.__contains__('Bengals'):
        away_team_ab.append('CIN')
    elif team.__contains__('Browns'):
        away_team_ab.append('CLE')
    elif team.__contains__('Cowboys'):
        away_team_ab.append('DAL')
    elif team.__contains__('Broncos'):
        away_team_ab.append('DEN')
    elif team.__contains__('Lions'):
        away_team_ab.append('DET')
    elif team.__contains__('Packers'):
        away_team_ab.append('GB')
    elif team.__contains__('Texans'):
        away_team_ab.append('HOU')
    elif team.__contains__('Colts'):
        away_team_ab.append('IND')
    elif team.__contains__('Jaguars'):
        away_team_ab.append('JAX')
    elif team.__contains__('Chiefs'):
        away_team_ab.append('KC')
    elif team.__contains__('Chargers'):
        away_team_ab.append('LAC')
    elif team.__contains__('Rams'):
        away_team_ab.append('LAR')
    elif team.__contains__('Dolphins'):
        away_team_ab.append('MIA')
    elif team.__contains__('Vikings'):
        away_team_ab.append('MIN')
    elif team.__contains__('Patriots'):
        away_team_ab.append('NE')
    elif team.__contains__('Saints'):
        away_team_ab.append('NO')
    elif team.__contains__('Giants'):
        away_team_ab.append('NYG')
    elif team.__contains__('Jets'):
        away_team_ab.append('NYJ')
    elif team.__contains__('Raiders'):
        away_team_ab.append('LVR')
    elif team.__contains__('Eagles'):
        away_team_ab.append('PHI')
    elif team.__contains__('Steelers'):
        away_team_ab.append('PIT')
    elif team.__contains__('Seahawks'):
        away_team_ab.append('SEA')
    elif team.__contains__('49ers'):
        away_team_ab.append('SF')
    elif team.__contains__('Buccaneers'):
        away_team_ab.append('TB')
    elif team.__contains__('Oilers'):
        away_team_ab.append('TEN')
    elif team.__contains__('Titans'):
        away_team_ab.append('TEN')
    elif team.__contains__('Redskins'):
        away_team_ab.append('WAS')
    elif team.__contains__('Football Team'):
        away_team_ab.append('WAS')

In [16]:
df1['team_away_id'] = away_team_ab

In [17]:
df1['team_away_id']

2501     DET
2502     MIA
2503      GB
2504     CIN
2505     IND
        ...
13226    CIN
13227    BUF
13228    LAR
13229    CIN
13230     SF
Name: team_away_id, Length: 10498, dtype: object

In [18]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN,TB,DET
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN,BUF,MIA
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN,CHI,GB
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN,DEN,CIN
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN,KC,IND

In [19]:
score_home = list(df1['score_home'].values)
score_away = list(df1['score_away'].values)

In [20]:
n_home_teams = list(df1['team_home_id'].values)

In [21]:
n_away_teams = list(df1['team_away_id'].values)

In [22]:
fav_team = list(df1['team_favorite_id'].values)

In [23]:
favorite_win = []
for score in list(range(0,10498)):
    if score_home[score] > score_away[score]:
        if n_home_teams[score] == fav_team[score]:
            favorite_win.append(True)
        else:
            favorite_win.append(False)
    elif score_home[score] < score_away[score]:
        if n_away_teams[score] == fav_team[score]:
            favorite_win.append(True)
        else:
            favorite_win.append(False)
    elif score_home[score] == score_away[score]:
        favorite_win.append(False)

In [24]:
favorite_win

[True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 ...]

In [25]:
df1['favorite_win'] = favorite_win

In [26]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id,favorite_win
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN,TB,DET,True
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN,BUF,MIA,True
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN,CHI,GB,True
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN,DEN,CIN,True
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN,KC,IND,True

In [27]:
df1['home_favorite'] = list((df1['team_home_id'] == df1['team_favorite_id']).values)

In [28]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id,favorite_win,home_favorite
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN,TB,DET,True,True
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN,BUF,MIA,True,False
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN,CHI,GB,True,True
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN,DEN,CIN,True,True
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN,KC,IND,True,True

In [29]:
df1['weather_temperature'].min()

-6.0

In [30]:
df1['schedule_date'] = pd.to_datetime(df1['schedule_date'])

In [31]:
df1['schedule_date'].value_counts()

2010-01-03    16
2014-12-28    16
2018-12-30    16
2017-01-01    16
2016-01-03    16
              ..
2004-12-24     1
1997-12-01     1
1989-12-04     1
1981-12-07     1
2014-12-11     1
Name: schedule_date, Length: 1973, dtype: int64

In [32]:
df1['yyyy'] = pd.to_datetime(df1['schedule_date']).dt.year
df1['mm'] = pd.to_datetime(df1['schedule_date']).dt.month

In [33]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,...,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id,favorite_win,home_favorite,yyyy,mm
2501,1979-09-01,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,...,79.0,9.0,87.0,NaN,TB,DET,True,True,1979,9
2502,1979-09-02,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,...,74.0,15.0,74.0,NaN,BUF,MIA,True,False,1979,9
2503,1979-09-02,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,...,78.0,11.0,68.0,NaN,CHI,GB,True,True,1979,9
2504,1979-09-02,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,...,69.0,6.0,38.0,NaN,DEN,CIN,True,True,1979,9
2505,1979-09-02,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,...,76.0,8.0,71.0,NaN,KC,IND,True,True,1979,9

In [34]:
df1['mm'].value_counts()

12    2632
11    2598
10    2418
9     2261
1      575
8       14
Name: mm, dtype: int64

In [35]:
df1.loc[df1['mm'] == 1]

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,...,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id,favorite_win,home_favorite,yyyy,mm
2731,1980-01-06,1979,Conference,True,Pittsburgh Steelers,27.0,13.0,Houston Oilers,PIT,-9.5,...,NaN,NaN,NaN,NaN,PIT,TEN,True,True,1980,1
2732,1980-01-06,1979,Conference,True,Tampa Bay Buccaneers,0.0,9.0,Los Angeles Rams,LAR,-3.5,...,NaN,NaN,NaN,NaN,TB,LAR,True,False,1980,1
2960,1981-01-03,1980,Division,True,Philadelphia Eagles,31.0,16.0,Minnesota Vikings,PHI,-7.0,...,NaN,NaN,NaN,NaN,PHI,MIN,True,True,1981,1
2961,1981-01-03,1980,Division,True,San Diego Chargers,20.0,14.0,Buffalo Bills,LAC,-6.0,...,NaN,NaN,NaN,NaN,LAC,BUF,True,True,1981,1
2962,1981-01-04,1980,Division,True,Atlanta Falcons,27.0,30.0,Dallas Cowboys,ATL,-2.5,...,NaN,NaN,NaN,NaN,ATL,DAL,False,True,1981,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,2022-01-22,2021,Division,True,Tennessee Titans,16.0,19.0,Cincinnati Bengals,TEN,-4.0,...,35.0,0.0,43.0,NaN,TEN,CIN,False,True,2022,1
13227,2022-01-23,2021,Division,True,Kansas City Chiefs,42.0,36.0,Buffalo Bills,KC,-2.5,...,35.0,6.0,54.0,NaN,KC,BUF,True,True,2022,1
13228,2022-01-23,2021,Division,True,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,TB,-3.0,...,50.0,11.0,69.0,NaN,TB,LAR,False,True,2022,1
13229,2022-01-30,2021,Conference,True,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,KC,-7.0,...,41.0,4.0,41.0,NaN,KC,CIN,False,True,2022,1
13230,2022-01-30,2021,Conference,True,Los Angeles Rams,20.0,17.0,San Francisco 49ers,LAR,-3.5,...,72.0,0.0,NaN,DOME,LAR,SF,True,True,2022,1

In [36]:
weather_df = df1[['schedule_week', 'team_home', 'score_home', 'score_away', 'team_away', 'weather_temperature', 'weather_wind_mph', 'weather_humidity', 'favorite_win', 'home_favorite', 'yyyy', 'mm', 'team_home_id', 'team_away_id']]

In [37]:
weather_df.head()

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND

In [38]:
tb_weather_9 = weather_df.loc[
    (weather_df['team_home'] == 'TB') &
    (weather_df['mm'] == 9)
]
tb_weather_9['weather_temperature'].mean()

nan

In [39]:
type(df1['schedule_date'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [40]:
type(weather_df['mm'].iloc[0])

numpy.int64

In [41]:
weather_df

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,Division,Tennessee Titans,16.0,19.0,Cincinnati Bengals,35.0,0.0,43.0,False,True,2022,1,TEN,CIN
13227,Division,Kansas City Chiefs,42.0,36.0,Buffalo Bills,35.0,6.0,54.0,True,True,2022,1,KC,BUF
13228,Division,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,50.0,11.0,69.0,False,True,2022,1,TB,LAR
13229,Conference,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,41.0,4.0,41.0,False,True,2022,1,KC,CIN
13230,Conference,Los Angeles Rams,20.0,17.0,San Francisco 49ers,72.0,0.0,NaN,True,True,2022,1,LAR,SF

In [42]:
t_df = weather_df.groupby(['team_home', 'mm'])['weather_temperature'].mean()

In [43]:
t_df

team_home            mm
Arizona Cardinals    1     70.222222
                     9     77.673913
                     10    73.338983
                     11    67.490196
                     12    65.688525
                             ...
Washington Redskins  1     47.142857
                     9     71.506667
                     10    59.944444
                     11    49.025000
                     12    41.766234
Name: weather_temperature, Length: 221, dtype: float64

In [44]:
t_df['Arizona Cardinals']

mm
1     70.222222
9     77.673913
10    73.338983
11    67.490196
12    65.688525
Name: weather_temperature, dtype: float64

In [45]:
def get_difference_in_temp(home_team, month, temp):
    diff = t_df[home_team][month] - temp
    return diff

In [46]:
differences = []
for team, m, t in weather_df[['team_home', 'mm', 'weather_temperature']].values:
    differences.append(get_difference_in_temp(team, m, t))

In [47]:
differences

[2.7285714285714278,
 -10.287500000000001,
 -11.683544303797461,
 -2.2249999999999943,
 -6.957746478873233,
 1.382352941176464,
 1.3670886075949369,
 0.0,
 -2.0434782608695627,
 -6.414285714285711,
 -4.470588235294116,
 -7.933333333333337,
 -8.49333333333334,
 -12.845070422535215,
 -0.22499999999999432,
 9.712499999999999,
 6.316455696202539,
 2.911392405063289,
 1.8548387096774235,
 6.1549295774647845,
 5.753246753246756,
 10.014705882352942,
 -1.78125,
 -0.5483870967741922,
 4.585714285714289,
 1.3380281690140805,
 9.696969696969703,
 7.303030303030297,
 9.470588235294116,
 2.911392405063289,
 0.0,
 -11.617647058823536,
 7.367088607594937,
 0.0,
 5.956521739130437,
 -7.78125,
 -4.470588235294116,
 5.066666666666663,
 3.5066666666666606,
 13.712499999999999,
 11.696969696969703,
 -2.2249999999999943,
 0.0,
 4.042253521126767,
 3.8548387096774235,
 12.367088607594937,
 10.154929577464785,
 7.753246753246756,
 11.014705882352942,
 7.066666666666663,
 -0.27142857142857224,
 10.303030303030297,
 0.3380281690140805,
 -0.75,
 -0.6835443037974613,
 -1.529411764705884,
 0.0,
 0.0,
 6.382352941176464,
 0.0,
 3.9565217391304373,
 3.0697674418604635,
 1.585714285714289,
 -0.78125,
 -4.470588235294116,
 -1.1571428571428584,
 7.370370370370367,
 -5.0,
 2.5333333333333314,
 6.426666666666669,
 -14.179487179487182,
 0.0,
 26.573333333333338,
 0.29113924050633244,
 -0.1785714285714306,
 -0.8157894736842124,
 0.455696202531648,
 1.776315789473685,
 1.6538461538461604,
 6.0,
 8.756756756756758,
 17.64383561643836,
 10.42666666666667,
 2.154761904761898,
 9.842857142857142,
 12.272727272727273,
 6.438356164383563,
 10.184210526315788,
 -3.3461538461538396,
 -4.450000000000003,
 8.333333333333336,
 1.5945945945945965,
 9.3125,
 -18.46666666666667,
 -16.57333333333333,
 -11.845238095238102,
 -19.727272727272727,
 5.28125,
 18.573333333333338,
 -8.708860759493668,
 -0.1785714285714306,
 -5.6875,
 5.776315789473685,
 -9.033333333333331,
 -1.4054054054054035,
 -10.055555555555557,
 -14.454545454545453,
 -1.3461538461538396,
 6.0,
 -0.3561643835616408,
 5.820512820512818,
 0.0,
 0.0,
 6.28125,
 5.438356164383563,
 2.5454545454545467,
 2.776315789473685,
 -4.666666666666664,
 8.944444444444443,
 9.370370370370367,
 17.670212765957444,
 2.0,
 1.0506329113924053,
 3.6666666666666643,
 2.0133333333333354,
 5.049382716049379,
 -2.1898734177215218,
 1.821917808219176,
 -1.3999999999999986,
 5.759493670886073,
 3.4933333333333323,
 -11.670454545454547,
 4.272727272727273,
 -1.9599999999999937,
 11.378048780487802,
 6.653333333333336,
 5.013333333333335,
 0.0,
 13.04938271604938,
 0.0,
 10.810126582278478,
 -5.959999999999994,
 0.024691358024696797,
 -3.178082191780824,
 -2.6341463414634134,
 -5.975000000000001,
 12.766355140186917,
 -0.9493670886075947,
 -14.333333333333336,
 0.0,
 21.359550561797747,
 -5.039473684210527,
 0.6000000000000014,
 -0.2405063291139271,
 0.0512820512820511,
 2.5411764705882334,
 -11.670454545454547,
 6.567567567567565,
 -6.975000000000001,
 4.521739130434781,
 11.766355140186917,
 0.0,
 2.6702127659574444,
 -16.0,
 4.378048780487802,
 5.013333333333335,
 4.049382716049379,
 -18.039473684210527,
 -12.178082191780824,
 -4.506666666666668,
 3.051282051282051,
 2.5411764705882334,
 -5.432432432432435,
 -11.670454545454547,
 2.0400000000000063,
 8.090909090909093,
 6.349206349206348,
 12.271428571428572,
 14.276315789473685,
 -4.024390243902438,
 4.200000000000003,
 4.585365853658537,
 6.517647058823528,
 -5.154761904761905,
 9.399999999999999,
 11.01204819277109,
 2.7662337662337677,
 -0.29213483146067176,
 -5.414634146341463,
 -15.045454545454547,
 21.98701298701299,
 0.0,
 -2.9466666666666654,
 35.116279069767444,
 -0.29213483146067176,
 8.200000000000003,
 -1.0327868852459048,
 -0.6585365853658516,
 -6.600000000000001,
 2.7662337662337677,
 0.0,
 0.0,
 -3.2021276595744723,
 17.98701298701299,
 2.443037974683545,
 3.580246913580247,
 13.271428571428572,
 0.0,
 2.975609756097562,
 -4.346666666666664,
 -1.1341463414634134,
 2.967213114754095,
 -3.4823529411764724,
 -2.98795180722891,
 -2.154761904761905,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -0.2875000000000014,
 -4.303030303030297,
 -2.088607594936711,
 -12.957746478873233,
 5.382352941176464,
 -1.6329113924050631,
 -7.8450704225352155,
 0.0,
 -4.043478260869563,
 -6.414285714285711,
 -4.985294117647058,
 -4.470588235294116,
 -11.933333333333337,
 -6.493333333333339,
 5.728571428571428,
 -6.75,
 -0.6835443037974613,
 -0.22499999999999432,
 -1.088607594936711,
 1.0422535211267672,
 5.8548387096774235,
 14.367088607594937,
 -3.8450704225352155,
 -5.246753246753244,
 3.21875,
 6.451612903225808,
 4.303030303030297,
 -4.6619718309859195,
 -10.683544303797461,
 -8.303030303030297,
 -9.696969696969703,
 -8.529411764705884,
 0.7750000000000057,
 0.0,
 0.0,
 4.382352941176464,
 0.0,
 -3.0434782608695627,
 5.0697674418604635,
 -4.470588235294116,
 -9.414285714285711,
 11.25,
 9.712499999999999,
 9.696969696969703,
 0.0,
 7.911392405063289,
 11.042253521126767,
 -2.1451612903225765,
 7.753246753246756,
 7.014705882352942,
 4.451612903225808,
 5.066666666666663,
 0.7285714285714278,
 7.506666666666661,
 12.154929577464785,
 9.370370370370367,
 13.42666666666667,
 0.154761904761898,
 11.842857142857142,
 0.0,
 3.28125,
 1.4383561643835634,
 24.573333333333338,
 -0.1785714285714306,
 1.3125,
 2.6538461538461604,
 3.455696202531648,
 -0.45000000000000284,
 4.756756756756758,
 10.370370370370367,
 3.5333333333333314,
 5.154761904761898,
 0.0,
 9.272727272727273,
 31.573333333333338,
 -1.7088607594936676,
 2.1842105263157876,
 2.6538461538461604,
 9.545454545454547,
 -9.033333333333331,
 6.333333333333336,
 3.5945945945945965,
 -8.179487179487182,
 -10.0,
 6.756756756756758,
 8.64383561643836,
 8.42666666666667,
 3.8205128205128176,
 0.0,
 0.4383561643835634,
 -0.1785714285714306,
 -2.6875,
 -3.544303797468352,
 0.5499999999999972,
 7.776315789473685,
 -6.055555555555557,
 11.545454545454547,
 21.370370370370367,
 7.0,
 11.533333333333331,
 17.42666666666667,
 14.154761904761898,
 15.842857142857142,
 0.0,
 22.272727272727273,
 12.184210526315788,
 7.65384615384616,
 12.455696202531648,
 6.776315789473685,
 10.944444444444443,
 12.3125,
 3.0506329113924053,
 4.378048780487802,
 -13.986666666666665,
 0.0,
 -6.189873417721522,
 -1.4782608695652186,
 3.9605263157894726,
 -0.3999999999999986,
 4.493333333333332,
 -11.670454545454547,
 -0.7272727272727266,
 2.567567567567565,
 -0.9750000000000014,
 -5.346666666666664,
 -5.0,
 -16.333333333333336,
 -11.95061728395062,
 4.521739130434781,
 23.359550561797747,
 0.024691358024696797,
 4.821917808219176,
 5.365853658536587,
 0.6000000000000014,
 2.051282051282051,
 -11.670454545454547,
 -17.727272727272727,
 -4.432432432432435,
 0.0,
 6.670212765957444,
 6.666666666666664,
 12.378048780487802,
 13.766355140186917,
 16.013333333333335,
 0.0,
 -1.9599999999999937,
 33.35955056179775,
 9.960526315789473,
 8.821917808219176,
 8.493333333333332,
 3.051282051282051,
 4.024999999999999,
 -11.670454545454547,
 11.040000000000006,
 19.670212765957444,
 2.0506329113924053,
 2.653333333333336,
 10.766355140186917,
 6.013333333333335,
 29.359550561797747,
 4.960526315789473,
 7.365853658536587,
 12.759493670886073,
 1.5411764705882334,
 3.2727272727272734,
 0.5675675675675649,
 0.024691358024696797,
 17.766355140186917,
 0.0,
 22.670212765957444,
 4.0,
 2.0493827160493794,
 0.0,
 -4.189873417721522,
 4.521739130434781,
 0.024691358024696797,
 9.821917808219176,
 8.493333333333332,
 2.051282051282051,
 1.5411764705882334,
 1.9672131147540952,
 0.0,
 -24.556962025316455,
 -20.419753086419753,
 -19.650793650793652,
 -3.723684210526315,
 4.967213114754095,
 -7.414634146341463,
 3.3414634146341484,
 -15.045454545454547,
 -29.6,
 0.012048192771089816,
 -12.233766233766232,
 -3.2021276595744723,
 -1.154761904761905,
 -7.233766233766232,
 18.98701298701299,
 -2.5,
 4.443037974683545,
 -6.375,
 0.0,
 7.053333333333335,
 44.116279069767444,
 7.653333333333336,
 9.200000000000003,
 4.585365853658537,
 8.517647058823528,
 -0.024390243902438158,
 2.7978723404255277,
 5.01204819277109,
 16.5,
 23.580246913580247,
 25.271428571428572,
 0.0,
 0.0,
 2.975609756097562,
 -0.29213483146067176,
 18.865853658536587,
 -1.6585365853658516,
 -15.045454545454547,
 17.4,
 1.845238095238095,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.7285714285714278,
 -4.6619718309859195,
 -2.2875000000000014,
 3.3164556962025387,
 -1.3030303030302974,
 -0.22499999999999432,
 0.0,
 2.382352941176464,
 3.1549295774647845,
 -1.2467532467532436,
 -1.985294117647058,
 -3.4933333333333394,
 0.30303030303029743,
 1.8548387096774235,
 -7.75,
 -5.696969696969703,
 -4.529411764705884,
 -2.088607594936711,
 -4.957746478873233,
 0.0,
 -4.043478260869563,
 -4.414285714285711,
 -1.78125,
 -9.49333333333334,
 5.367088607594937,
 8.712499999999999,
 11.33802816901408,
 8.316455696202539,
 4.696969696969703,
 -3.2249999999999943,
 0.0,
 1.0422535211267672,
 2.382352941176464,
 13.367088607594937,
 7.753246753246756,
 3.0697674418604635,
 6.014705882352942,
 0.06666666666666288,
 3.1549295774647845,
 3.25,
 -5.303030303030297,
 -3.6969696969697026,
 -4.529411764705884,
 3.7750000000000057,
 0.0,
 4.911392405063289,
 1.9565217391304373,
 1.585714285714289,
 -2.985294117647058,
 0.4516129032258078,
 -4.470588235294116,
 4.728571428571428,
 13.316455696202539,
 5.533333333333331,
 0.0,
 4.28125,
 -1.5616438356164366,
 19.573333333333338,
 4.291139240506332,
 -0.1785714285714306,
 6.184210526315788,
 6.65384615384616,
 -1.4500000000000028,
 -8.666666666666664,
 0.5945945945945965,
 1.9444444444444429,
 -4.544303797468352,
 9.370370370370367,
 0.0,
 5.756756756756758,
 -11.179487179487182,
 1.8428571428571416,
 0.0,
 2.2727272727272734,
 -0.1785714285714306,
 7.184210526315788,
 7.3125,
 2.5454545454545467,
 -0.45000000000000284,
 4.776315789473685,
 8.533333333333331,
 1.3703703703703667,
 -1.0,
 0.6438356164383592,
 -2.5733333333333306,
 5.154761904761898,
 3.8428571428571416,
 4.438356164383563,
 25.573333333333338,
 5.291139240506332,
 4.3125,
 5.65384615384616,
 -9.033333333333331,
 0.0,
 25.370370370370367,
 11.533333333333331,
 14.756756756756758,
 14.42666666666667,
 15.154761904761898,
 0.0,
 -0.1785714285714306,
 11.3125,
 6.65384615384616,
 12.455696202531648,
 6.776315789473685,
 10.333333333333336,
 10.944444444444443,
 0.5454545454545467,
 -7.949367088607595,
 -13.621951219512198,
 -10.95061728395062,
 -6.478260869565219,
 -2.9599999999999937,
 0.024691358024696797,
 -3.178082191780824,
 -1.3999999999999986,
 -3.240506329113927,
 -5.506666666666668,
 -4.948717948717949,
 -2.432432432432435,
 -9.975000000000001,
 -10.986666666666665,
 -2.0,
 -7.986666666666665,
 -6.950617283950621,
 -8.189873417721522,
 -0.4782608695652186,
 21.359550561797747,
 -0.03947368421052744,
 -1.948717948717949,
 3.5411764705882334,
 -11.670454545454547,
 -8.727272727272727,
 -5.975000000000001,
 7.766355140186917,
 13.670212765957444,
 4.378048780487802,
 0.0,
 -4.950617283950621,
 -11.189873417721522,
 6.040000000000006,
 15.359550561797747,
 -1.0394736842105274,
 -0.17808219178082396,
 -1.240506329113927,
 -2.4588235294117666,
 -2.7272727272727266,
 13.567567567567565,
 -11.670454545454547,
 8.0,
 12.050632911392405,
 20.666666666666664,
 16.378048780487802,
 12.653333333333336,
 6.766355140186917,
 0.0,
 7.810126582278478,
 3.5217391304347814,
 8.365853658536587,
 -2.3999999999999986,
 10.759493670886073,
 20.567567567567565,
 21.670212765957444,
 -10.233644859813083,
 0.0,
 9.050632911392405,
 6.653333333333336,
 0.0,
 38.35955056179775,
 6.960526315789473,
 0.024691358024696797,
 7.365853658536587,
 11.493333333333332,
 6.051282051282051,
 8.541176470588233,
 2.0400000000000063,
 0.0,
 -4.5,
 -1.5569620253164551,
 9.580246913580247,
 -14.375,
 -4.946666666666665,
 11.797872340425528,
 1.8658536585365866,
 -0.1547619047619051,
 -15.045454545454547,
 -10.600000000000001,
 16.01204819277109,
 -1.2337662337662323,
 -3.032786885245905,
 2.349206349206348,
 0.0,
 9.271428571428572,
 -1.375,
 -2.723684210526315,
 5.653333333333336,
 -0.29213483146067176,
 -3.032786885245905,
 -2.6585365853658516,
 0.3999999999999986,
 6.01204819277109,
 6.766233766233768,
 0.9756097560975618,
 16.797872340425528,
 11.865853658536587,
 42.98701298701299,
 13.5,
 25.443037974683545,
 0.0,
 0.9756097560975618,
 57.116279069767444,
 -0.29213483146067176,
 16.200000000000003,
 16.585365853658537,
 -15.045454545454547,
 -4.154761904761905,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -1.75,
 -9.287500000000001,
 -7.303030303030297,
 18.775000000000006,
 0.0,
 -10.088607594936711,
 -0.6329113924050631,
 0.0,
 -6.246753246753244,
 -4.043478260869563,
 -4.414285714285711,
 -0.5483870967741922,
 -4.470588235294116,
 -6.529411764705884,
 3.7124999999999986,
 -3.6619718309859195,
 10.316455696202539,
 10.303030303030297,
 8.775000000000006,
 0.0,
 9.042253521126767,
 1.382352941176464,
 0.8548387096774235,
 3.1549295774647845,
 10.014705882352942,
 6.066666666666663,
 1.7285714285714278,
 8.753246753246756,
 9.670212765957444,
 -11.949367088607595,
 -4.333333333333336,
 -14.346666666666664,
 -3.233644859813083,
 7.013333333333335,
 -5.950617283950621,
 0.0,
 0.024691358024696797,
 -0.6341463414634134,
 -5.240506329113927,
 -4.727272727272727,
 2.5,
 17.766355140186917,
 0.0,
 7.670212765957444,
 16.050632911392405,
 0.3780487804878021,
 3.5217391304347814,
 -3.6404494382022534,
 13.960526315789473,
 17.365853658536587,
 2.051282051282051,
 1.5411764705882334,
 -11.670454545454547,
 11.024999999999999,
 -4.432432432432435,
 2.975609756097562,
 -26.5,
 -17.556962025316455,
 -25.650793650793652,
 -1.375,
 -15.946666666666665,
 -1.1923076923076934,
 -6.202127659574472,
 -0.29213483146067176,
 -18.134146341463413,
 -21.414634146341463,
 -23.482352941176472,
 -22.233766233766232,
 0.0,
 2.8658536585365866,
 4.341463414634148,
 25.98701298701299,
 11.580246913580247,
 16.053333333333335,
 18.276315789473685,
 0.9756097560975618,
 -4.883720930232556,
 9.653333333333336,
 13.200000000000003,
 -15.045454545454547,
 13.399999999999999,
 0.0,
 -0.1923076923076934,
 5.5,
 -2.556962025316455,
 -0.650793650793652,
 -2.7285714285714278,
 -0.375,
 0.0,
 7.585365853658537,
 5.341463414634148,
 -15.045454545454547,
 14.01204819277109,
 9.766233766233768,
 2.845238095238095,
 -0.012987012987011326,
 -13.419753086419753,
 15.271428571428572,
 0.0,
 8.276315789473685,
 3.8076923076923066,
 7.975609756097562,
 -4.883720930232556,
 -0.29213483146067176,
 -16.482352941176472,
 3.845238095238095,
 -4.600000000000001,
 -8.98795180722891,
 -4.202127659574472,
 0.0,
 0.0,
 6.0,
 -0.3333333333333357,
 0.0,
 3.7777777777777786,
 2.1000000000000014,
 7.0,
 9.57142857142857,
 -23.700000000000003,
 -7.5,
 6.142857142857146,
 -4.333333333333329,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -4.333333333333329,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -3.548387096774192,
 -8.287500000000001,
 -13.683544303797461,
 -7.303030303030297,
 -9.696969696969703,
 0.0,
 -12.957746478873233,
 -12.845070422535215,
 0.0,
 -9.246753246753244,
 -7.985294117647058,
 -3.78125,
 -0.27142857142857224,
 -12.49333333333334,
 -0.6329113924050631,
 -9.66197183098592,
 -13.75,
 -1.6835443037974613,
 -9.303030303030297,
 0.0,
 2.911392405063289,
 -7.695652173913047,
 -5.617647058823536,
 -0.14516129032257652,
 -17.043478260869563,
 -10.933333333333337,
 0.04225352112676717,
 10.303030303030297,
 3.7124999999999986,
 -4.529411764705884,
 0.7750000000000057,
 0.0,
 -8.088607594936711,
 0.0,
 -1.8450704225352155,
 0.0,
 -4.470588235294116,
 -15.933333333333337,
 5.728571428571428,
 -0.4933333333333394,
 -4.695652173913047,
 16.25,
 10.712499999999999,
 6.470588235294116,
 2.7750000000000057,
 3.8548387096774235,
 -0.6329113924050631,
 10.956521739130437,
 13.585714285714289,
 13.014705882352942,
 -1.78125,
 1.4516129032258078,
 -4.470588235294116,
 6.728571428571428,
 7.753246753246756,
 1.3703703703703667,
 -14.243243243243242,
 -6.356164383561641,
 -5.573333333333331,
 -15.157142857142858,
 -16.727272727272727,
 1.28125,
 -2.4266666666666623,
 -7.708860759493668,
 -0.1785714285714306,
 -6.815789473684212,
 -6.454545454545453,
 -5.055555555555557,
 -15.466666666666669,
 3.3703703703703667,
 1.756756756756758,
 0.4266666666666694,
 -0.845238095238102,
 0.0,
 0.0,
 -2.280000000000001,
 1.4383561643835634,
 -2.8157894736842124,
 -5.450000000000003,
 -2.223684210526315,
 -0.6666666666666643,
 1.6438356164383592,
 -2.0,
 -3.845238095238102,
 7.820512820512818,
 0.0,
 -2.7272727272727266,
 2.28125,
 -2.4266666666666623,
 6.291139240506332,
 -0.1785714285714306,
 7.3125,
 1.5454545454545467,
 -9.033333333333331,
 -1.4054054054054035,
 3.8428571428571416,
 -1.0,
 4.533333333333331,
 11.154761904761898,
 -3.1794871794871824,
 2.8428571428571416,
 0.0,
 8.3125,
 7.455696202531648,
 0.5945945945945965,
 3.944444444444443,
 2.3333333333333357,
 9.370370370370367,
 16.53333333333333,
 10.756756756756758,
 11.64383561643836,
 13.42666666666667,
 2.8205128205128176,
 -2.280000000000001,
 4.438356164383563,
 16.184210526315788,
 16.455696202531648,
 15.545454545454547,
 -2.223684210526315,
 3.3333333333333357,
 -3.450000000000003,
 -0.9506172839506206,
 0.0,
 -8.189873417721522,
 -2.4782608695652186,
 -3.6404494382022534,
 0.9605263157894726,
 0.024691358024696797,
 7.365853658536587,
 11.759493670886073,
 1.4933333333333323,
 -1.4588235294117666,
 -11.670454545454547,
 6.024999999999999,
 0.0,
 9.0,
 12.653333333333336,
 0.0,
 2.8101265822784782,
 -3.5,
 -3.6404494382022534,
 5.960526315789473,
 11.821917808219176,
 12.365853658536587,
 -6.948717948717949,
 0.5411764705882334,
 11.272727272727273,
 25.670212765957444,
 6.670212765957444,
 -8.949367088607595,
 -9.621951219512198,
 3.766355140186917,
 6.013333333333335,
 -10.95061728395062,
 4.521739130434781,
 -2.9599999999999937,
 -0.03947368421052744,
 -0.2405063291139271,
 -8.506666666666668,
 -5.727272727272727,
 0.024691358024696797,
 14.766355140186917,
 0.0,
 16.670212765957444,
 2.6666666666666643,
 -2.346666666666664,
 5.5,
 9.521739130434781,
 0.024691358024696797,
 -1.6341463414634134,
 6.051282051282051,
 -11.670454545454547,
 -3.432432432432435,
 -0.9750000000000014,
 -2.9599999999999937,
 -6.154761904761905,
 -6.5,
 6.625,
 1.0533333333333346,
 0.0,
 7.276315789473685,
 -2.1341463414634134,
 -1.414634146341463,
 -1.4823529411764724,
 0.3414634146341484,
 -15.045454545454547,
 -1.2337662337662323,
 ...]

In [48]:
weather_df['away_temp_diff'] = differences
weather_df

<ipython-input-48-b140267ae5b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['away_temp_diff'] = differences

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id,away_temp_diff
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET,2.728571
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA,-10.287500
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB,-11.683544
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN,-2.225000
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND,-6.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,Division,Tennessee Titans,16.0,19.0,Cincinnati Bengals,35.0,0.0,43.0,False,True,2022,1,TEN,CIN,9.800000
13227,Division,Kansas City Chiefs,42.0,36.0,Buffalo Bills,35.0,6.0,54.0,True,True,2022,1,KC,BUF,-1.000000
13228,Division,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,50.0,11.0,69.0,False,True,2022,1,TB,LAR,14.500000
13229,Conference,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,41.0,4.0,41.0,False,True,2022,1,KC,CIN,-7.000000
13230,Conference,Los Angeles Rams,20.0,17.0,San Francisco 49ers,72.0,0.0,NaN,True,True,2022,1,LAR,SF,-6.875000

In [49]:
t_df['Miami Dolphins']

mm
1     73.500000
8     81.000000
9     82.854839
10    80.438356
11    75.040000
12    71.797872
Name: weather_temperature, dtype: float64

In [50]:
t_df['Buffalo Bills']

mm
1     28.142857
8     65.000000
9     63.712500
10    52.533333
11    43.050633
12    33.090909
Name: weather_temperature, dtype: float64

In [51]:
weather_df.loc[(weather_df['team_home_id'] == 'MIA') & (weather_df['mm'] == 9)]

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id,away_temp_diff
2522,2,Miami Dolphins,19.0,10.0,Seattle Seahawks,81.0,13.0,81.0,True,True,1979,9,MIA,SEA,1.854839
2548,4,Miami Dolphins,31.0,16.0,Chicago Bears,79.0,8.0,86.0,True,True,1979,9,MIA,CHI,3.854839
2755,2,Miami Dolphins,17.0,16.0,Cincinnati Bengals,77.0,8.0,93.0,True,True,1980,9,MIA,CIN,5.854839
2782,4,Miami Dolphins,21.0,16.0,New Orleans Saints,85.0,10.0,72.0,True,True,1980,9,MIA,NO,-2.145161
2981,2,Miami Dolphins,30.0,10.0,Pittsburgh Steelers,81.0,10.0,80.0,True,True,1981,9,MIA,PIT,1.854839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12418,1,Miami Dolphins,10.0,59.0,Baltimore Ravens,NaN,NaN,NaN,True,False,2019,9,MIA,BAL,NaN
12436,2,Miami Dolphins,0.0,43.0,New England Patriots,NaN,NaN,NaN,True,False,2019,9,MIA,NE,NaN
12470,4,Miami Dolphins,10.0,30.0,Los Angeles Chargers,NaN,NaN,NaN,True,False,2019,9,MIA,LAC,NaN
12702,2,Miami Dolphins,28.0,31.0,Buffalo Bills,NaN,NaN,NaN,True,False,2020,9,MIA,BUF,NaN
12972,2,Miami Dolphins,0.0,35.0,Buffalo Bills,NaN,NaN,NaN,True,False,2021,9,MIA,BUF,NaN

In [52]:
weather_df

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id,away_temp_diff
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET,2.728571
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA,-10.287500
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB,-11.683544
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN,-2.225000
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND,-6.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,Division,Tennessee Titans,16.0,19.0,Cincinnati Bengals,35.0,0.0,43.0,False,True,2022,1,TEN,CIN,9.800000
13227,Division,Kansas City Chiefs,42.0,36.0,Buffalo Bills,35.0,6.0,54.0,True,True,2022,1,KC,BUF,-1.000000
13228,Division,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,50.0,11.0,69.0,False,True,2022,1,TB,LAR,14.500000
13229,Conference,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,41.0,4.0,41.0,False,True,2022,1,KC,CIN,-7.000000
13230,Conference,Los Angeles Rams,20.0,17.0,San Francisco 49ers,72.0,0.0,NaN,True,True,2022,1,LAR,SF,-6.875000

In [53]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10498 entries, 2501 to 13230
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   schedule_week        10498 non-null  object
 1   team_home            10498 non-null  object
 2   score_home           10498 non-null  float64
 3   score_away           10498 non-null  float64
 4   team_away            10498 non-null  object
 5   weather_temperature  9694 non-null   float64
 6   weather_wind_mph     9694 non-null   float64
 7   weather_humidity     6223 non-null   float64
 8   favorite_win         10498 non-null  bool
 9   home_favorite        10498 non-null  bool
 10  yyyy                 10498 non-null  int64
 11  mm                   10498 non-null  int64
 12  team_home_id         10498 non-null  object
 13  team_away_id         10498 non-null  object
 14  away_temp_diff       9694 non-null   float64
dtypes: bool(2), float64(6), int64(2), object(5)
memory usage: 1.1+ MB

In [54]:
weather_df

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id,away_temp_diff
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET,2.728571
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA,-10.287500
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB,-11.683544
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN,-2.225000
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND,-6.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,Division,Tennessee Titans,16.0,19.0,Cincinnati Bengals,35.0,0.0,43.0,False,True,2022,1,TEN,CIN,9.800000
13227,Division,Kansas City Chiefs,42.0,36.0,Buffalo Bills,35.0,6.0,54.0,True,True,2022,1,KC,BUF,-1.000000
13228,Division,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,50.0,11.0,69.0,False,True,2022,1,TB,LAR,14.500000
13229,Conference,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,41.0,4.0,41.0,False,True,2022,1,KC,CIN,-7.000000
13230,Conference,Los Angeles Rams,20.0,17.0,San Francisco 49ers,72.0,0.0,NaN,True,True,2022,1,LAR,SF,-6.875000

In [55]:
wind_df = weather_df.groupby(['team_home', 'mm'])['weather_wind_mph'].mean()
wind_df

team_home            mm
Arizona Cardinals    1     0.666667
                     9     2.891304
                     10    3.423729
                     11    3.901961
                     12    2.426230
                             ...
Washington Redskins  1     8.000000
                     9     8.280000
                     10    9.375000
                     11    9.137500
                     12    9.103896
Name: weather_wind_mph, Length: 221, dtype: float64

In [56]:
def get_difference_in_wind(home_team, month, wind):
    diff = wind_df[home_team][month] - wind
    return diff

In [57]:
differences = []
for team, w, wi in weather_df[['team_home', 'mm', 'weather_wind_mph']].values:
    differences.append(get_difference_in_wind(team, w, wi))

In [58]:
weather_df['away_wind_diff'] = differences
weather_df

<ipython-input-58-35761b0da99c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['away_wind_diff'] = differences

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id,away_temp_diff,away_wind_diff
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET,2.728571,-1.585714
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA,-10.287500,-6.012500
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB,-11.683544,-2.151899
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN,-2.225000,3.600000
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND,-6.957746,1.295775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,Division,Tennessee Titans,16.0,19.0,Cincinnati Bengals,35.0,0.0,43.0,False,True,2022,1,TEN,CIN,9.800000,6.400000
13227,Division,Kansas City Chiefs,42.0,36.0,Buffalo Bills,35.0,6.0,54.0,True,True,2022,1,KC,BUF,-1.000000,3.538462
13228,Division,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,50.0,11.0,69.0,False,True,2022,1,TB,LAR,14.500000,-1.125000
13229,Conference,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,41.0,4.0,41.0,False,True,2022,1,KC,CIN,-7.000000,5.538462
13230,Conference,Los Angeles Rams,20.0,17.0,San Francisco 49ers,72.0,0.0,NaN,True,True,2022,1,LAR,SF,-6.875000,1.375000

In [59]:
humid_df = weather_df.groupby(['team_home', 'schedule_week'])['weather_humidity'].mean()

In [60]:
df2 = pd.read_csv('nfl_teams.csv')

In [61]:
df2.head()

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Phoenix Cardinals,Cardinals,ARI,CRD,NFC,NaN,NFC,NFC East
2,St. Louis Cardinals,Cardinals,ARI,ARI,NFC,NaN,NFC,NFC East
3,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
4,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central

In [62]:
df3 = pd.read_csv('nfl_stadiums.csv', encoding='latin_1')

In [63]:
df3.head()

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_weather_station_code,stadium_weather_type,stadium_capacity,stadium_surface,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
0,Alamo Dome,"San Antonio, TX",NaN,NaN,indoor,"100 Montana St, San Antonio, TX 78203",78203,dome,72000,FieldTurf,NaN,NaN,NaN,NaN,NaN
1,Allegiant Stadium,"Paradise, NV",2020.0,NaN,indoor,NaN,NaN,dome,65000,Grass,NaN,NaN,NaN,NaN,NaN
2,Alltel Stadium,"Jacksonville, FL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alumni Stadium,"Chestnut Hill, MA",NaN,NaN,outdoor,"Perimeter Rd, Chestnut Hill, MA 02467",2467,cold,NaN,Grass,NaN,NaN,NaN,NaN,NaN
4,Anaheim Stadium,"Anaheim, CA",1980.0,1994.0,outdoor,"2000 E Gene Autry Way, Anaheim, CA 92806",92806,warm,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df3['ELEVATION'].unique()

array([   nan,  264.9,  163.4,  221.9,  178. ,  189. ,    2.4,   93. ,
        193.9,  238. , 1611.2,    6.1,   15.2,   24.4,    2.1,    8.8,
        366.7,    5.8,  209.4,    3. ,   29.6,  182.9,  227.1,   47.5,
        265.8,   13.4,    1.8,  145.4,  177.7,  375.2])

In [65]:
len(df3['ELEVATION'].value_counts())

29

In [66]:
len(df3['stadium_name'].value_counts())

106

In [67]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
!pip install lxml

Requirement already satisfied: lxml in /home/tom/miniconda3/envs/learn-env/lib/python3.8/site-packages (4.5.2)

In [120]:
resp = requests.get('https://www.teamrankings.com/nfl/ranking/overall-power-ranking-by-team?date=2022-02-14')

In [121]:
resp.status_code

200

In [122]:
soup = BeautifulSoup(resp.content)

In [123]:
table = soup.find('table')

In [124]:
len(table)

5

In [125]:
table

<table class="tr-table datatable scrollable">
<thead>
<tr>
<th class="text-center sort-asc-first sort-first">Rank</th>
<th class="text-left sort-asc-first">Team</th>
<th class="text-right">Rating</th>
<th class="text-right nowrap">v 1-5</th>
<th class="text-right nowrap">v 6-10</th>
<th class="text-right nowrap">v 11-16</th>
<th class="text-right sort-asc-first">Hi</th>
<th class="text-right sort-asc-first">Low</th>
<th class="text-right sort-asc-first">Last</th>
</tr>
</thead>
<tbody>
<tr class="div_117 team_14">
<td class="rank tr_arrow_none text-center" data-sort="001">1</td>
<td class="nowrap" data-sort="LA Rams"><a href="https://www.teamrankings.com/nfl/team/los-angeles-rams">LA Rams</a> <small>(16-5)</small></td>
<td class="text-right" data-sort="538.6966">38.7</td>
<td class="text-right" data-sort="502">4-2</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="504">4-0</td>
<td class="text-right" data-sort="01">1</td>
<td class="text-right" data-sort="19">19</td>
<td class="text-right" data-sort="01">1</td>
</tr>
<tr class="div_117 team_25">
<td class="rank tr_arrow_none text-center" data-sort="002">2</td>
<td class="nowrap" data-sort="San Francisco"><a href="https://www.teamrankings.com/nfl/team/san-francisco-49ers">San Francisco</a> <small>(12-8)</small></td>
<td class="text-right" data-sort="535.7042">35.7</td>
<td class="text-right" data-sort="502">3-1</td>
<td class="text-right" data-sort="500">2-2</td>
<td class="text-right" data-sort="498">1-3</td>
<td class="text-right" data-sort="02">2</td>
<td class="text-right" data-sort="26">26</td>
<td class="text-right" data-sort="02">2</td>
</tr>
<tr class="div_113 team_12">
<td class="rank tr_arrow_none text-center" data-sort="003">3</td>
<td class="nowrap" data-sort="Kansas City"><a href="https://www.teamrankings.com/nfl/team/kansas-city-chiefs">Kansas City</a> <small>(14-6)</small></td>
<td class="text-right" data-sort="533.8501">33.9</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="501">3-2</td>
<td class="text-right" data-sort="504">4-0</td>
<td class="text-right" data-sort="01">1</td>
<td class="text-right" data-sort="19">19</td>
<td class="text-right" data-sort="04">4</td>
</tr>
<tr class="div_111 team_4">
<td class="rank tr_arrow_none text-center" data-sort="004">4</td>
<td class="nowrap" data-sort="Cincinnati"><a href="https://www.teamrankings.com/nfl/team/cincinnati-bengals">Cincinnati</a> <small>(13-8)</small></td>
<td class="text-right" data-sort="532.77">32.8</td>
<td class="text-right" data-sort="500">2-2</td>
<td class="text-right" data-sort="500">1-1</td>
<td class="text-right" data-sort="505">5-0</td>
<td class="text-right" data-sort="03">3</td>
<td class="text-right" data-sort="28">28</td>
<td class="text-right" data-sort="03">3</td>
</tr>
<tr class="div_116 team_27">
<td class="rank tr_arrow_none text-center" data-sort="005">5</td>
<td class="nowrap" data-sort="Tampa Bay"><a href="https://www.teamrankings.com/nfl/team/tampa-bay-buccaneers">Tampa Bay</a> <small>(14-5)</small></td>
<td class="text-right" data-sort="530.8124">30.8</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="503">3-0</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="01">1</td>
<td class="text-right" data-sort="15">15</td>
<td class="text-right" data-sort="05">5</td>
</tr>
<tr class="div_115 team_9">
<td class="rank tr_arrow_none text-center" data-sort="006">6</td>
<td class="nowrap" data-sort="Green Bay"><a href="https://www.teamrankings.com/nfl/team/green-bay-packers">Green Bay</a> <small>(13-5)</small></td>
<td class="text-right" data-sort="530.3827">30.4</td>
<td class="text-right" data-sort="501">3-2</td>
<td class="text-right" data-sort="500">0-0</td>
<td class="text-right" data-sort="501">3-2</td>
<td class="text-right" data-sort="01">1</td>
<td class="text-right" data-sort="16">16</td>
<td class="text-right" data-sort="07">7</td>
</tr>
<tr class="div_110 team_2">
<td class="rank tr_arrow_none text-center" data-sort="007">7</td>
<td class="nowrap" data-sort="Buffalo"><a href="https://www.teamrankings.com/nfl/team/buffalo-bills">Buffalo</a> <small>(12-7)</small></td>
<td class="text-right" data-sort="530.1459">30.1</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="501">2-1</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="02">2</td>
<td class="text-right" data-sort="16">16</td>
<td class="text-right" data-sort="06">6</td>
</tr>
<tr class="div_112 team_10">
<td class="rank tr_arrow_none text-center" data-sort="008">8</td>
<td class="nowrap" data-sort="Tennessee"><a href="https://www.teamrankings.com/nfl/team/tennessee-titans">Tennessee</a> <small>(12-6)</small></td>
<td class="text-right" data-sort="529.7674">29.8</td>
<td class="text-right" data-sort="502">3-1</td>
<td class="text-right" data-sort="502">2-0</td>
<td class="text-right" data-sort="503">4-1</td>
<td class="text-right" data-sort="01">1</td>
<td class="text-right" data-sort="26">26</td>
<td class="text-right" data-sort="08">8</td>
</tr>
<tr class="div_114 team_6">
<td class="rank tr_arrow_none text-center" data-sort="009">9</td>
<td class="nowrap" data-sort="Dallas"><a href="https://www.teamrankings.com/nfl/team/dallas-cowboys">Dallas</a> <small>(12-6)</small></td>
<td class="text-right" data-sort="528.6845">28.7</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="500">0-0</td>
<td class="text-right" data-sort="501">2-1</td>
<td class="text-right" data-sort="02">2</td>
<td class="text-right" data-sort="26">26</td>
<td class="text-right" data-sort="09">9</td>
</tr>
<tr class="div_110 team_15">
<td class="rank tr_arrow_none text-center" data-sort="010">10</td>
<td class="nowrap" data-sort="Miami"><a href="https://www.teamrankings.com/nfl/team/miami-dolphins">Miami</a> <small>(9-8)</small></td>
<td class="text-right" data-sort="527.4398">27.4</td>
<td class="text-right" data-sort="499">0-1</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="06">6</td>
<td class="text-right" data-sort="31">31</td>
<td class="text-right" data-sort="10">10</td>
</tr>
<tr class="div_117 team_26">
<td class="rank tr_arrow_up text-center" data-sort="011">11</td>
<td class="nowrap" data-sort="Seattle"><a href="https://www.teamrankings.com/nfl/team/seattle-seahawks">Seattle</a> <small>(7-10)</small></td>
<td class="text-right" data-sort="526.9752">27.0</td>
<td class="text-right" data-sort="500">2-2</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="498">1-3</td>
<td class="text-right" data-sort="04">4</td>
<td class="text-right" data-sort="29">29</td>
<td class="text-right" data-sort="13">13</td>
</tr>
<tr class="div_111 team_23">
<td class="rank tr_arrow_none text-center" data-sort="012">12</td>
<td class="nowrap" data-sort="Pittsburgh"><a href="https://www.teamrankings.com/nfl/team/pittsburgh-steelers">Pittsburgh</a> <small>(9-8-1)</small></td>
<td class="text-right" data-sort="526.768">26.8</td>
<td class="text-right" data-sort="496">0-4</td>
<td class="text-right" data-sort="501">2-1</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="06">6</td>
<td class="text-right" data-sort="26">26</td>
<td class="text-right" data-sort="12">12</td>
</tr>
<tr class="div_113 team_13">
<td class="rank tr_arrow_down text-center" data-sort="013">13</td>
<td class="nowrap" data-sort="Las Vegas"><a href="https://www.teamrankings.com/nfl/team/las-vegas-raiders">Las Vegas</a> <small>(10-8)</small></td>
<td class="text-right" data-sort="526.638">26.6</td>
<td class="text-right" data-sort="496">0-4</td>
<td class="text-right" data-sort="502">2-0</td>
<td class="text-right" data-sort="502">2-0</td>
<td class="text-right" data-sort="02">2</td>
<td class="text-right" data-sort="25">25</td>
<td class="text-right" data-sort="11">11</td>
</tr>
<tr class="div_115 team_16">
<td class="rank tr_arrow_none text-center" data-sort="014">14</td>
<td class="nowrap" data-sort="Minnesota"><a href="https://www.teamrankings.com/nfl/team/minnesota-vikings">Minnesota</a> <small>(8-9)</small></td>
<td class="text-right" data-sort="526.388">26.4</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="502">2-0</td>
<td class="text-right" data-sort="08">8</td>
<td class="text-right" data-sort="29">29</td>
<td class="text-right" data-sort="14">14</td>
</tr>
<tr class="div_116 team_18">
<td class="rank tr_arrow_none text-center" data-sort="015">15</td>
<td class="nowrap" data-sort="New Orleans"><a href="https://www.teamrankings.com/nfl/team/new-orleans-saints">New Orleans</a> <small>(9-8)</small></td>
<td class="text-right" data-sort="525.4937">25.5</td>
<td class="text-right" data-sort="502">2-0</td>
<td class="text-right" data-sort="497">1-4</td>
<td class="text-right" data-sort="501">1-0</td>
<td class="text-right" data-sort="02">2</td>
<td class="text-right" data-sort="26">26</td>
<td class="text-right" data-sort="15">15</td>
</tr>
<tr class="div_112 team_11">
<td class="rank tr_arrow_none text-center" data-sort="016">16</td>
<td class="nowrap" data-sort="Indianapolis"><a href="https://www.teamrankings.com/nfl/team/indianapolis-colts">Indianapolis</a> <small>(9-8)</small></td>
<td class="text-right" data-sort="525.1628">25.2</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="500">2-2</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="04">4</td>
<td class="text-right" data-sort="27">27</td>
<td class="text-right" data-sort="16">16</td>
</tr>
<tr class="div_110 team_17">
<td class="rank tr_arrow_none text-center" data-sort="017">17</td>
<td class="nowrap" data-sort="New England"><a href="https://www.teamrankings.com/nfl/team/new-england-patriots">New England</a> <small>(10-8)</small></td>
<td class="text-right" data-sort="524.942">24.9</td>
<td class="text-right" data-sort="499">0-1</td>
<td class="text-right" data-sort="497">2-5</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="01">1</td>
<td class="text-right" data-sort="26">26</td>
<td class="text-right" data-sort="18">18</td>
</tr>
<tr class="div_117 team_22">
<td class="rank tr_arrow_none text-center" data-sort="018">18</td>
<td class="nowrap" data-sort="Arizona"><a href="https://www.teamrankings.com/nfl/team/arizona-cardinals">Arizona</a> <small>(11-7)</small></td>
<td class="text-right" data-sort="524.6453">24.6</td>
<td class="text-right" data-sort="501">3-2</td>
<td class="text-right" data-sort="501">2-1</td>
<td class="text-right" data-sort="500">2-2</td>
<td class="text-right" data-sort="01">1</td>
<td class="text-right" data-sort="23">23</td>
<td class="text-right" data-sort="19">19</td>
</tr>
<tr class="div_111 team_5">
<td class="rank tr_arrow_down text-center" data-sort="019">19</td>
<td class="nowrap" data-sort="Cleveland"><a href="https://www.teamrankings.com/nfl/team/cleveland-browns">Cleveland</a> <small>(8-9)</small></td>
<td class="text-right" data-sort="524.6287">24.6</td>
<td class="text-right" data-sort="501">2-1</td>
<td class="text-right" data-sort="499">0-1</td>
<td class="text-right" data-sort="498">1-3</td>
<td class="text-right" data-sort="07">7</td>
<td class="text-right" data-sort="23">23</td>
<td class="text-right" data-sort="17">17</td>
</tr>
<tr class="div_113 team_24">
<td class="rank tr_arrow_none text-center" data-sort="020">20</td>
<td class="nowrap" data-sort="LA Chargers"><a href="https://www.teamrankings.com/nfl/team/los-angeles-chargers">LA Chargers</a> <small>(9-8)</small></td>
<td class="text-right" data-sort="523.7296">23.7</td>
<td class="text-right" data-sort="501">2-1</td>
<td class="text-right" data-sort="499">0-1</td>
<td class="text-right" data-sort="500">2-2</td>
<td class="text-right" data-sort="02">2</td>
<td class="text-right" data-sort="21">21</td>
<td class="text-right" data-sort="20">20</td>
</tr>
<tr class="div_114 team_21">
<td class="rank tr_arrow_none text-center" data-sort="021">21</td>
<td class="nowrap" data-sort="Philadelphia"><a href="https://www.teamrankings.com/nfl/team/philadelphia-eagles">Philadelphia</a> <small>(9-9)</small></td>
<td class="text-right" data-sort="523.556">23.6</td>
<td class="text-right" data-sort="496">0-4</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="500">1-1</td>
<td class="text-right" data-sort="09">9</td>
<td class="text-right" data-sort="29">29</td>
<td class="text-right" data-sort="21">21</td>
</tr>
<tr class="div_111 team_33">
<td class="rank tr_arrow_none text-center" data-sort="022">22</td>
<td class="nowrap" data-sort="Baltimore"><a href="https://www.teamrankings.com/nfl/team/baltimore-ravens">Baltimore</a> <small>(8-9)</small></td>
<td class="text-right" data-sort="522.4992">22.5</td>
<td class="text-right" data-sort="498">1-3</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="499">2-3</td>
<td class="text-right" data-sort="03">3</td>
<td class="text-right" data-sort="23">23</td>
<td class="text-right" data-sort="22">22</td>
</tr>
<tr class="div_114 team_28">
<td class="rank tr_arrow_none text-center" data-sort="023">23</td>
<td class="nowrap" data-sort="Washington"><a href="https://www.teamrankings.com/nfl/team/washington-commanders">Washington</a> <small>(7-10)</small></td>
<td class="text-right" data-sort="520.9813">21.0</td>
<td class="text-right" data-sort="500">1-1</td>
<td class="text-right" data-sort="496">0-4</td>
<td class="text-right" data-sort="501">2-1</td>
<td class="text-right" data-sort="08">8</td>
<td class="text-right" data-sort="30">30</td>
<td class="text-right" data-sort="24">24</td>
</tr>
<tr class="div_115 team_8">
<td class="rank tr_arrow_none text-center" data-sort="024">24</td>
<td class="nowrap" data-sort="Detroit"><a href="https://www.teamrankings.com/nfl/team/detroit-lions">Detroit</a> <small>(3-13-1)</small></td>
<td class="text-right" data-sort="520.9092">20.9</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="500">1-1</td>
<td class="text-right" data-sort="499">1-2-1</td>
<td class="text-right" data-sort="24">24</td>
<td class="text-right" data-sort="32">32</td>
<td class="text-right" data-sort="25">25</td>
</tr>
<tr class="div_115 team_3">
<td class="rank tr_arrow_none text-center" data-sort="025">25</td>
<td class="nowrap" data-sort="Chicago"><a href="https://www.teamrankings.com/nfl/team/chicago-bears">Chicago</a> <small>(6-11)</small></td>
<td class="text-right" data-sort="520.836">20.8</td>
<td class="text-right" data-sort="498">1-3</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="499">2-3</td>
<td class="text-right" data-sort="09">9</td>
<td class="text-right" data-sort="30">30</td>
<td class="text-right" data-sort="26">26</td>
</tr>
<tr class="div_113 team_7">
<td class="rank tr_arrow_down text-center" data-sort="026">26</td>
<td class="nowrap" data-sort="Denver"><a href="https://www.teamrankings.com/nfl/team/denver-broncos">Denver</a> <small>(7-10)</small></td>
<td class="text-right" data-sort="520.6768">20.7</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="501">1-0</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="10">10</td>
<td class="text-right" data-sort="26">26</td>
<td class="text-right" data-sort="23">23</td>
</tr>
<tr class="div_116 team_1">
<td class="rank tr_arrow_none text-center" data-sort="027">27</td>
<td class="nowrap" data-sort="Atlanta"><a href="https://www.teamrankings.com/nfl/team/atlanta-falcons">Atlanta</a> <small>(7-10)</small></td>
<td class="text-right" data-sort="518.6969">18.7</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="500">1-1</td>
<td class="text-right" data-sort="17">17</td>
<td class="text-right" data-sort="31">31</td>
<td class="text-right" data-sort="27">27</td>
</tr>
<tr class="div_112 team_34">
<td class="rank tr_arrow_none text-center" data-sort="028">28</td>
<td class="nowrap" data-sort="Houston"><a href="https://www.teamrankings.com/nfl/team/houston-texans">Houston</a> <small>(4-13)</small></td>
<td class="text-right" data-sort="518.3347">18.3</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="498">1-3</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="24">24</td>
<td class="text-right" data-sort="32">32</td>
<td class="text-right" data-sort="28">28</td>
</tr>
<tr class="div_110 team_20">
<td class="rank tr_arrow_none text-center" data-sort="029">29</td>
<td class="nowrap" data-sort="NY Jets"><a href="https://www.teamrankings.com/nfl/team/new-york-jets">NY Jets</a> <small>(4-13)</small></td>
<td class="text-right" data-sort="515.3733">15.4</td>
<td class="text-right" data-sort="500">1-1</td>
<td class="text-right" data-sort="497">1-4</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="25">25</td>
<td class="text-right" data-sort="32">32</td>
<td class="text-right" data-sort="29">29</td>
</tr>
<tr class="div_112 team_30">
<td class="rank tr_arrow_none text-center" data-sort="030">30</td>
<td class="nowrap" data-sort="Jacksonville"><a href="https://www.teamrankings.com/nfl/team/jacksonville-jaguars">Jacksonville</a> <small>(3-14)</small></td>
<td class="text-right" data-sort="514.7054">14.7</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="500">2-2</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="24">24</td>
<td class="text-right" data-sort="32">32</td>
<td class="text-right" data-sort="30">30</td>
</tr>
<tr class="div_116 team_29">
<td class="rank tr_arrow_none text-center" data-sort="031">31</td>
<td class="nowrap" data-sort="Carolina"><a href="https://www.teamrankings.com/nfl/team/carolina-panthers">Carolina</a> <small>(5-12)</small></td>
<td class="text-right" data-sort="512.1482">12.1</td>
<td class="text-right" data-sort="498">0-2</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="499">1-2</td>
<td class="text-right" data-sort="02">2</td>
<td class="text-right" data-sort="31">31</td>
<td class="text-right" data-sort="31">31</td>
</tr>
<tr class="div_114 team_19">
<td class="rank tr_arrow_none text-center" data-sort="032">32</td>
<td class="nowrap" data-sort="NY Giants"><a href="https://www.teamrankings.com/nfl/team/new-york-giants">NY Giants</a> <small>(4-13)</small></td>
<td class="text-right" data-sort="511.4004">11.4</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="497">0-3</td>
<td class="text-right" data-sort="502">2-0</td>
<td class="text-right" data-sort="15">15</td>
<td class="text-right" data-sort="32">32</td>
<td class="text-right" data-sort="32">32</td>
</tr>
</tbody>
</table>

In [126]:
table_body = table.find('tbody')

In [127]:
rows = table_body.find_all('tr')

In [128]:
len(rows)

32

In [129]:
[td.text for td in rows[0].find_all('td')]

['1', 'LA Rams (16-5)', '38.7', '4-2', '0-2', '4-0', '1', '19', '1']

In [130]:
row_list = []
for row in table.find_all('tr'):
#     row_list.append(row.get_text().split('\n\n'))
    row_list.append([td.text for td in row.find_all('td')])
row_list[1:]

[['1', 'LA Rams (16-5)', '38.7', '4-2', '0-2', '4-0', '1', '19', '1'],
 ['2', 'San Francisco (12-8)', '35.7', '3-1', '2-2', '1-3', '2', '26', '2'],
 ['3', 'Kansas City (14-6)', '33.9', '0-2', '3-2', '4-0', '1', '19', '4'],
 ['4', 'Cincinnati (13-8)', '32.8', '2-2', '1-1', '5-0', '3', '28', '3'],
 ['5', 'Tampa Bay (14-5)', '30.8', '0-2', '3-0', '1-2', '1', '15', '5'],
 ['6', 'Green Bay (13-5)', '30.4', '3-2', '0-0', '3-2', '1', '16', '7'],
 ['7', 'Buffalo (12-7)', '30.1', '1-2', '2-1', '1-2', '2', '16', '6'],
 ['8', 'Tennessee (12-6)', '29.8', '3-1', '2-0', '4-1', '1', '26', '8'],
 ['9', 'Dallas (12-6)', '28.7', '0-3', '0-0', '2-1', '2', '26', '9'],
 ['10', 'Miami (9-8)', '27.4', '0-1', '0-3', '1-2', '6', '31', '10'],
 ['11', 'Seattle (7-10)', '27.0', '2-2', '0-2', '1-3', '4', '29', '13'],
 ['12', 'Pittsburgh (9-8-1)', '26.8', '0-4', '2-1', '1-2', '6', '26', '12'],
 ['13', 'Las Vegas (10-8)', '26.6', '0-4', '2-0', '2-0', '2', '25', '11'],
 ['14', 'Minnesota (8-9)', '26.4', '0-3', '1-2', '2-0', '8', '29', '14'],
 ['15', 'New Orleans (9-8)', '25.5', '2-0', '1-4', '1-0', '2', '26', '15'],
 ['16', 'Indianapolis (9-8)', '25.2', '1-2', '2-2', '0-2', '4', '27', '16'],
 ['17', 'New England (10-8)', '24.9', '0-1', '2-5', '0-2', '1', '26', '18'],
 ['18', 'Arizona (11-7)', '24.6', '3-2', '2-1', '2-2', '1', '23', '19'],
 ['19', 'Cleveland (8-9)', '24.6', '2-1', '0-1', '1-3', '7', '23', '17'],
 ['20', 'LA Chargers (9-8)', '23.7', '2-1', '0-1', '2-2', '2', '21', '20'],
 ['21', 'Philadelphia (9-9)', '23.6', '0-4', '0-2', '1-1', '9', '29', '21'],
 ['22', 'Baltimore (8-9)', '22.5', '1-3', '0-2', '2-3', '3', '23', '22'],
 ['23', 'Washington (7-10)', '21.0', '1-1', '0-4', '2-1', '8', '30', '24'],
 ['24', 'Detroit (3-13-1)', '20.9', '0-3', '1-1', '1-2-1', '24', '32', '25'],
 ['25', 'Chicago (6-11)', '20.8', '1-3', '0-2', '2-3', '9', '30', '26'],
 ['26', 'Denver (7-10)', '20.7', '0-3', '1-0', '0-3', '10', '26', '23'],
 ['27', 'Atlanta (7-10)', '18.7', '0-3', '1-2', '1-1', '17', '31', '27'],
 ['28', 'Houston (4-13)', '18.3', '0-2', '1-3', '0-3', '24', '32', '28'],
 ['29', 'NY Jets (4-13)', '15.4', '1-1', '1-4', '0-2', '25', '32', '29'],
 ['30', 'Jacksonville (3-14)', '14.7', '0-3', '2-2', '1-2', '24', '32', '30'],
 ['31', 'Carolina (5-12)', '12.1', '0-2', '0-3', '1-2', '2', '31', '31'],
 ['32', 'NY Giants (4-13)', '11.4', '0-3', '0-3', '2-0', '15', '32', '32']]

In [136]:
columns = table.find_all('tr')[0].get_text().split('\n')[1:10]
columns

['Rank', 'Team', 'Rating', 'v 1-5', 'v 6-10', 'v 11-16', 'Hi', 'Low', 'Last']

In [138]:
pi_2021 = pd.concat([pd.DataFrame([i], columns = columns) for i in row_list[1:]], ignore_index=True)
pi_2021

   Rank                  Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last
0     1        LA Rams (16-5)   38.7   4-2    0-2     4-0   1  19    1
1     2  San Francisco (12-8)   35.7   3-1    2-2     1-3   2  26    2
2     3    Kansas City (14-6)   33.9   0-2    3-2     4-0   1  19    4
3     4     Cincinnati (13-8)   32.8   2-2    1-1     5-0   3  28    3
4     5      Tampa Bay (14-5)   30.8   0-2    3-0     1-2   1  15    5
5     6      Green Bay (13-5)   30.4   3-2    0-0     3-2   1  16    7
6     7        Buffalo (12-7)   30.1   1-2    2-1     1-2   2  16    6
7     8      Tennessee (12-6)   29.8   3-1    2-0     4-1   1  26    8
8     9         Dallas (12-6)   28.7   0-3    0-0     2-1   2  26    9
9    10           Miami (9-8)   27.4   0-1    0-3     1-2   6  31   10
10   11        Seattle (7-10)   27.0   2-2    0-2     1-3   4  29   13
11   12    Pittsburgh (9-8-1)   26.8   0-4    2-1     1-2   6  26   12
12   13      Las Vegas (10-8)   26.6   0-4    2-0     2-0   2  25   11
13   14       Minnesota (8-9)   26.4   0-3    1-2     2-0   8  29   14
14   15     New Orleans (9-8)   25.5   2-0    1-4     1-0   2  26   15
15   16    Indianapolis (9-8)   25.2   1-2    2-2     0-2   4  27   16
16   17    New England (10-8)   24.9   0-1    2-5     0-2   1  26   18
17   18        Arizona (11-7)   24.6   3-2    2-1     2-2   1  23   19
18   19       Cleveland (8-9)   24.6   2-1    0-1     1-3   7  23   17
19   20     LA Chargers (9-8)   23.7   2-1    0-1     2-2   2  21   20
20   21    Philadelphia (9-9)   23.6   0-4    0-2     1-1   9  29   21
21   22       Baltimore (8-9)   22.5   1-3    0-2     2-3   3  23   22
22   23     Washington (7-10)   21.0   1-1    0-4     2-1   8  30   24
23   24      Detroit (3-13-1)   20.9   0-3    1-1   1-2-1  24  32   25
24   25        Chicago (6-11)   20.8   1-3    0-2     2-3   9  30   26
25   26         Denver (7-10)   20.7   0-3    1-0     0-3  10  26   23
26   27        Atlanta (7-10)   18.7   0-3    1-2     1-1  17  31   27
27   28        Houston (4-13)   18.3   0-2    1-3     0-3  24  32   28
28   29        NY Jets (4-13)   15.4   1-1    1-4     0-2  25  32   29
29   30   Jacksonville (3-14)   14.7   0-3    2-2     1-2  24  32   30
30   31       Carolina (5-12)   12.1   0-2    0-3     1-2   2  31   31
31   32      NY Giants (4-13)   11.4   0-3    0-3     2-0  15  32   32

In [148]:
pi_2021['Year'] = 2021

In [149]:
pi_2021

   Rank                   Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
0     1       Tampa Bay (15-5)   44.0   4-3    1-1     1-0   1  23    2  2021
1     2     Kansas City (16-3)   38.1   4-1    3-1     3-1   1   5    1  2021
2     3         Buffalo (15-4)   37.6   0-2    6-0     5-1   1  17    3  2021
3     4       Green Bay (14-4)   35.9   1-2    1-0     1-1   2  14    4  2021
4     5     New Orleans (13-5)   34.6   2-3    1-0     0-1   1  15    5  2021
5     6           Miami (10-6)   30.4   0-3    2-1     2-1   4  28    6  2021
6     7       Baltimore (12-6)   29.8   0-2    0-0     4-4   1  14    8  2021
7     8      LA Chargers (7-9)   29.7   1-4    0-1     1-2   7  30    7  2021
8     9         Seattle (12-5)   28.9   0-1    2-2     1-0   2  16    9  2021
9    10         LA Rams (11-7)   28.9   1-2    2-2     1-0   3  21   10  2021
10   11       Cleveland (12-6)   27.0   0-1    0-2     4-2   4  27   11  2021
11   12    Indianapolis (11-6)   26.2   1-1    0-1     2-3   3  29   12  2021
12   13        Las Vegas (8-8)   25.4   2-3    1-2     1-2   4  23   13  2021
13   14      New England (7-9)   25.0   0-3    3-3     1-0   4  26   14  2021
14   15       Tennessee (11-6)   24.8   1-1    1-1     1-3   1  16   15  2021
15   16      Pittsburgh (12-5)   24.1   0-1    2-0     3-2   1  20   16  2021
16   17         Atlanta (4-12)   23.5   0-6    0-2     1-0   7  30   17  2021
17   18      Washington (7-10)   22.8   0-1    0-3     1-1  12  32   18  2021
18   19          Arizona (8-8)   22.4   1-0    1-4     0-1   3  24   19  2021
19   20   San Francisco (6-10)   21.8   0-3    2-3     1-0   2  30   22  2021
20   21       NY Giants (6-10)   21.8   0-1    1-2     0-2  15  31   21  2021
21   22          Denver (5-11)   21.7   0-5    2-1     1-4  12  28   20  2021
22   23        Minnesota (7-9)   21.2   1-3    0-1     0-2   9  28   24  2021
23   24        Carolina (5-11)   21.1   0-6    1-0     0-1  13  32   23  2021
24   25          Chicago (8-9)   21.1   1-4    0-1     0-2   5  26   26  2021
25   26          Dallas (6-10)   20.7   0-0    0-3     0-2  14  30   25  2021
26   27         NY Jets (2-14)   19.5   0-3    1-4     1-4  18  32   27  2021
27   28    Cincinnati (4-11-1)   17.3   0-0    0-4     2-4  18  32   28  2021
28   29  Philadelphia (4-11-1)   16.4   1-1    0-3     0-2  16  32   29  2021
29   30         Detroit (5-11)   14.8   0-4    0-0     0-2  14  32   30  2021
30   31         Houston (4-12)   13.5   0-2    0-1     1-6   8  31   31  2021
31   32    Jacksonville (1-15)    3.7   0-1    0-3     1-5  13  32   32  2021

In [139]:
resp = requests.get('https://www.teamrankings.com/nfl/ranking/overall-power-ranking-by-team?date=2021-02-08')

In [140]:
soup = BeautifulSoup(resp.content)

In [141]:
table = soup.find('table')

In [142]:
table_body = table.find('tbody')

In [143]:
rows = table_body.find_all('tr')

In [144]:
row_list = []
for row in table.find_all('tr'):
    row_list.append([td.text for td in row.find_all('td')])
row_list[1:]

[['1', 'Tampa Bay (15-5)', '44.0', '4-3', '1-1', '1-0', '1', '23', '2'],
 ['2', 'Kansas City (16-3)', '38.1', '4-1', '3-1', '3-1', '1', '5', '1'],
 ['3', 'Buffalo (15-4)', '37.6', '0-2', '6-0', '5-1', '1', '17', '3'],
 ['4', 'Green Bay (14-4)', '35.9', '1-2', '1-0', '1-1', '2', '14', '4'],
 ['5', 'New Orleans (13-5)', '34.6', '2-3', '1-0', '0-1', '1', '15', '5'],
 ['6', 'Miami (10-6)', '30.4', '0-3', '2-1', '2-1', '4', '28', '6'],
 ['7', 'Baltimore (12-6)', '29.8', '0-2', '0-0', '4-4', '1', '14', '8'],
 ['8', 'LA Chargers (7-9)', '29.7', '1-4', '0-1', '1-2', '7', '30', '7'],
 ['9', 'Seattle (12-5)', '28.9', '0-1', '2-2', '1-0', '2', '16', '9'],
 ['10', 'LA Rams (11-7)', '28.9', '1-2', '2-2', '1-0', '3', '21', '10'],
 ['11', 'Cleveland (12-6)', '27.0', '0-1', '0-2', '4-2', '4', '27', '11'],
 ['12', 'Indianapolis (11-6)', '26.2', '1-1', '0-1', '2-3', '3', '29', '12'],
 ['13', 'Las Vegas (8-8)', '25.4', '2-3', '1-2', '1-2', '4', '23', '13'],
 ['14', 'New England (7-9)', '25.0', '0-3', '3-3', '1-0', '4', '26', '14'],
 ['15', 'Tennessee (11-6)', '24.8', '1-1', '1-1', '1-3', '1', '16', '15'],
 ['16', 'Pittsburgh (12-5)', '24.1', '0-1', '2-0', '3-2', '1', '20', '16'],
 ['17', 'Atlanta (4-12)', '23.5', '0-6', '0-2', '1-0', '7', '30', '17'],
 ['18', 'Washington (7-10)', '22.8', '0-1', '0-3', '1-1', '12', '32', '18'],
 ['19', 'Arizona (8-8)', '22.4', '1-0', '1-4', '0-1', '3', '24', '19'],
 ['20', 'San Francisco (6-10)', '21.8', '0-3', '2-3', '1-0', '2', '30', '22'],
 ['21', 'NY Giants (6-10)', '21.8', '0-1', '1-2', '0-2', '15', '31', '21'],
 ['22', 'Denver (5-11)', '21.7', '0-5', '2-1', '1-4', '12', '28', '20'],
 ['23', 'Minnesota (7-9)', '21.2', '1-3', '0-1', '0-2', '9', '28', '24'],
 ['24', 'Carolina (5-11)', '21.1', '0-6', '1-0', '0-1', '13', '32', '23'],
 ['25', 'Chicago (8-9)', '21.1', '1-4', '0-1', '0-2', '5', '26', '26'],
 ['26', 'Dallas (6-10)', '20.7', '0-0', '0-3', '0-2', '14', '30', '25'],
 ['27', 'NY Jets (2-14)', '19.5', '0-3', '1-4', '1-4', '18', '32', '27'],
 ['28', 'Cincinnati (4-11-1)', '17.3', '0-0', '0-4', '2-4', '18', '32', '28'],
 ['29',
  'Philadelphia (4-11-1)',
  '16.4',
  '1-1',
  '0-3',
  '0-2',
  '16',
  '32',
  '29'],
 ['30', 'Detroit (5-11)', '14.8', '0-4', '0-0', '0-2', '14', '32', '30'],
 ['31', 'Houston (4-12)', '13.5', '0-2', '0-1', '1-6', '8', '31', '31'],
 ['32', 'Jacksonville (1-15)', '3.7', '0-1', '0-3', '1-5', '13', '32', '32']]

In [147]:
pi_2020 = pd.concat([pd.DataFrame([i], columns = columns) for i in row_list[1:]], ignore_index=True)
pi_2020

   Rank                   Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last
0     1       Tampa Bay (15-5)   44.0   4-3    1-1     1-0   1  23    2
1     2     Kansas City (16-3)   38.1   4-1    3-1     3-1   1   5    1
2     3         Buffalo (15-4)   37.6   0-2    6-0     5-1   1  17    3
3     4       Green Bay (14-4)   35.9   1-2    1-0     1-1   2  14    4
4     5     New Orleans (13-5)   34.6   2-3    1-0     0-1   1  15    5
5     6           Miami (10-6)   30.4   0-3    2-1     2-1   4  28    6
6     7       Baltimore (12-6)   29.8   0-2    0-0     4-4   1  14    8
7     8      LA Chargers (7-9)   29.7   1-4    0-1     1-2   7  30    7
8     9         Seattle (12-5)   28.9   0-1    2-2     1-0   2  16    9
9    10         LA Rams (11-7)   28.9   1-2    2-2     1-0   3  21   10
10   11       Cleveland (12-6)   27.0   0-1    0-2     4-2   4  27   11
11   12    Indianapolis (11-6)   26.2   1-1    0-1     2-3   3  29   12
12   13        Las Vegas (8-8)   25.4   2-3    1-2     1-2   4  23   13
13   14      New England (7-9)   25.0   0-3    3-3     1-0   4  26   14
14   15       Tennessee (11-6)   24.8   1-1    1-1     1-3   1  16   15
15   16      Pittsburgh (12-5)   24.1   0-1    2-0     3-2   1  20   16
16   17         Atlanta (4-12)   23.5   0-6    0-2     1-0   7  30   17
17   18      Washington (7-10)   22.8   0-1    0-3     1-1  12  32   18
18   19          Arizona (8-8)   22.4   1-0    1-4     0-1   3  24   19
19   20   San Francisco (6-10)   21.8   0-3    2-3     1-0   2  30   22
20   21       NY Giants (6-10)   21.8   0-1    1-2     0-2  15  31   21
21   22          Denver (5-11)   21.7   0-5    2-1     1-4  12  28   20
22   23        Minnesota (7-9)   21.2   1-3    0-1     0-2   9  28   24
23   24        Carolina (5-11)   21.1   0-6    1-0     0-1  13  32   23
24   25          Chicago (8-9)   21.1   1-4    0-1     0-2   5  26   26
25   26          Dallas (6-10)   20.7   0-0    0-3     0-2  14  30   25
26   27         NY Jets (2-14)   19.5   0-3    1-4     1-4  18  32   27
27   28    Cincinnati (4-11-1)   17.3   0-0    0-4     2-4  18  32   28
28   29  Philadelphia (4-11-1)   16.4   1-1    0-3     0-2  16  32   29
29   30         Detroit (5-11)   14.8   0-4    0-0     0-2  14  32   30
30   31         Houston (4-12)   13.5   0-2    0-1     1-6   8  31   31
31   32    Jacksonville (1-15)    3.7   0-1    0-3     1-5  13  32   32

In [155]:
list_of_url_end = ['2022-02-14','2021-02-08', '2020-02-03', '2019-02-04', '2018-02-05', '2017-02-06', 
                   '2016-02-08', '2015-02-02', '2014-01-26', '2013-02-04', '2012-02-05', '2011-02-07', 
                   '2010-02-13', '2009-02-02', '2008-02-04', '2007-02-05', '2006-02-06', '2005-02-07', '2004-02-02' ]

In [156]:
list_of_url_end

['2022-02-14',
 '2021-02-08',
 '2020-02-03',
 '2019-02-04',
 '2018-02-05',
 '2017-02-06',
 '2016-02-08',
 '2015-02-02',
 '2014-01-26',
 '2013-02-04',
 '2012-02-05',
 '2011-02-07',
 '2010-02-13',
 '2009-02-02',
 '2008-02-04',
 '2007-02-05',
 '2006-02-06',
 '2005-02-07',
 '2004-02-02']

In [158]:
for date in list_of_url_end:
    url = f"https://www.teamrankings.com/nfl/ranking/overall-power-ranking-by-team?date={date}"
    print(date[:4])

2022
2021
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2005
2004

In [160]:
import time

In [161]:
list_of_pis = []

for date in list_of_url_end:
    url = f"https://www.teamrankings.com/nfl/ranking/overall-power-ranking-by-team?date={date}"
    resp = requests.get(url).text
    soup = BeautifulSoup(resp)
    table = soup.find('table')
    table_body = table.find('tbody')
    rows = table_body.find_all('tr')
    row_list = []
    for row in table.find_all('tr'):
        row_list.append([td.text for td in row.find_all('td')])
    row_list[1:]
    df = pd.concat([pd.DataFrame([i], columns = columns) for i in row_list[1:]], ignore_index=True)
    df['Year'] = date[:4]
    list_of_pis.append(df)
    time.sleep(.1)

In [162]:
list_of_pis

[   Rank                  Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
 0     1        LA Rams (16-5)   38.7   4-2    0-2     4-0   1  19    1  2022
 1     2  San Francisco (12-8)   35.7   3-1    2-2     1-3   2  26    2  2022
 2     3    Kansas City (14-6)   33.9   0-2    3-2     4-0   1  19    4  2022
 3     4     Cincinnati (13-8)   32.8   2-2    1-1     5-0   3  28    3  2022
 4     5      Tampa Bay (14-5)   30.8   0-2    3-0     1-2   1  15    5  2022
 5     6      Green Bay (13-5)   30.4   3-2    0-0     3-2   1  16    7  2022
 6     7        Buffalo (12-7)   30.1   1-2    2-1     1-2   2  16    6  2022
 7     8      Tennessee (12-6)   29.8   3-1    2-0     4-1   1  26    8  2022
 8     9         Dallas (12-6)   28.7   0-3    0-0     2-1   2  26    9  2022
 9    10           Miami (9-8)   27.4   0-1    0-3     1-2   6  31   10  2022
 10   11        Seattle (7-10)   27.0   2-2    0-2     1-3   4  29   13  2022
 11   12    Pittsburgh (9-8-1)   26.8   0-4    2-1     1-2   6  26   12  2022
 12   13      Las Vegas (10-8)   26.6   0-4    2-0     2-0   2  25   11  2022
 13   14       Minnesota (8-9)   26.4   0-3    1-2     2-0   8  29   14  2022
 14   15     New Orleans (9-8)   25.5   2-0    1-4     1-0   2  26   15  2022
 15   16    Indianapolis (9-8)   25.2   1-2    2-2     0-2   4  27   16  2022
 16   17    New England (10-8)   24.9   0-1    2-5     0-2   1  26   18  2022
 17   18        Arizona (11-7)   24.6   3-2    2-1     2-2   1  23   19  2022
 18   19       Cleveland (8-9)   24.6   2-1    0-1     1-3   7  23   17  2022
 19   20     LA Chargers (9-8)   23.7   2-1    0-1     2-2   2  21   20  2022
 20   21    Philadelphia (9-9)   23.6   0-4    0-2     1-1   9  29   21  2022
 21   22       Baltimore (8-9)   22.5   1-3    0-2     2-3   3  23   22  2022
 22   23     Washington (7-10)   21.0   1-1    0-4     2-1   8  30   24  2022
 23   24      Detroit (3-13-1)   20.9   0-3    1-1   1-2-1  24  32   25  2022
 24   25        Chicago (6-11)   20.8   1-3    0-2     2-3   9  30   26  2022
 25   26         Denver (7-10)   20.7   0-3    1-0     0-3  10  26   23  2022
 26   27        Atlanta (7-10)   18.7   0-3    1-2     1-1  17  31   27  2022
 27   28        Houston (4-13)   18.3   0-2    1-3     0-3  24  32   28  2022
 28   29        NY Jets (4-13)   15.4   1-1    1-4     0-2  25  32   29  2022
 29   30   Jacksonville (3-14)   14.7   0-3    2-2     1-2  24  32   30  2022
 30   31       Carolina (5-12)   12.1   0-2    0-3     1-2   2  31   31  2022
 31   32      NY Giants (4-13)   11.4   0-3    0-3     2-0  15  32   32  2022,
    Rank                   Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
 0     1       Tampa Bay (15-5)   44.0   4-3    1-1     1-0   1  23    2  2021
 1     2     Kansas City (16-3)   38.1   4-1    3-1     3-1   1   5    1  2021
 2     3         Buffalo (15-4)   37.6   0-2    6-0     5-1   1  17    3  2021
 3     4       Green Bay (14-4)   35.9   1-2    1-0     1-1   2  14    4  2021
 4     5     New Orleans (13-5)   34.6   2-3    1-0     0-1   1  15    5  2021
 5     6           Miami (10-6)   30.4   0-3    2-1     2-1   4  28    6  2021
 6     7       Baltimore (12-6)   29.8   0-2    0-0     4-4   1  14    8  2021
 7     8      LA Chargers (7-9)   29.7   1-4    0-1     1-2   7  30    7  2021
 8     9         Seattle (12-5)   28.9   0-1    2-2     1-0   2  16    9  2021
 9    10         LA Rams (11-7)   28.9   1-2    2-2     1-0   3  21   10  2021
 10   11       Cleveland (12-6)   27.0   0-1    0-2     4-2   4  27   11  2021
 11   12    Indianapolis (11-6)   26.2   1-1    0-1     2-3   3  29   12  2021
 12   13        Las Vegas (8-8)   25.4   2-3    1-2     1-2   4  23   13  2021
 13   14      New England (7-9)   25.0   0-3    3-3     1-0   4  26   14  2021
 14   15       Tennessee (11-6)   24.8   1-1    1-1     1-3   1  16   15  2021
 15   16      Pittsburgh (12-5)   24.1   0-1    2-0     3-2   1  20   16  2021
 16   17         Atlanta (4-12)   23.5   0-6    0-2     1-0   7  30   17  2021
 17   18      Washington (7-10)   22.8   0-1    0-3     1-1  12  32   18  2021
 18   19          Arizona (8-8)   22.4   1-0    1-4     0-1   3  24   19  2021
 19   20   San Francisco (6-10)   21.8   0-3    2-3     1-0   2  30   22  2021
 20   21       NY Giants (6-10)   21.8   0-1    1-2     0-2  15  31   21  2021
 21   22          Denver (5-11)   21.7   0-5    2-1     1-4  12  28   20  2021
 22   23        Minnesota (7-9)   21.2   1-3    0-1     0-2   9  28   24  2021
 23   24        Carolina (5-11)   21.1   0-6    1-0     0-1  13  32   23  2021
 24   25          Chicago (8-9)   21.1   1-4    0-1     0-2   5  26   26  2021
 25   26          Dallas (6-10)   20.7   0-0    0-3     0-2  14  30   25  2021
 26   27         NY Jets (2-14)   19.5   0-3    1-4     1-4  18  32   27  2021
 27   28    Cincinnati (4-11-1)   17.3   0-0    0-4     2-4  18  32   28  2021
 28   29  Philadelphia (4-11-1)   16.4   1-1    0-3     0-2  16  32   29  2021
 29   30         Detroit (5-11)   14.8   0-4    0-0     0-2  14  32   30  2021
 30   31         Houston (4-12)   13.5   0-2    0-1     1-6   8  31   31  2021
 31   32    Jacksonville (1-15)    3.7   0-1    0-3     1-5  13  32   32  2021,
    Rank                  Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
 0     1    Kansas City (15-4)   45.5   3-1    2-2     4-0   1  13    1  2020
 1     2  San Francisco (15-4)   37.4   1-2    5-1     2-1   1  30    2  2020
 2     3      Baltimore (14-3)   37.3   1-2    2-0     3-0   1  24    3  2020
 3     4      Tennessee (11-8)   35.0   2-2    2-1     2-2   4  27    4  2020
 4     5    New Orleans (13-4)   33.5   1-1    2-3     4-0   2  15    5  2020
 5     6      Green Bay (14-4)   32.2   1-2    2-0     4-0   3  25    6  2020
 6     7         Atlanta (7-9)   30.5   2-2    0-3     1-2   6  29    7  2020
 7     8        Houston (11-7)   30.0   2-4    1-0     3-1   4  20    8  2020
 8     9      Minnesota (11-7)   28.3   1-2    1-2     1-3   6  19   10  2020
 9    10         LA Rams (9-7)   28.3   1-3    1-0     2-2   1  12    9  2020
 10   11        Seattle (12-6)   27.9   1-3    3-2     1-0   2  15   11  2020
 11   12    New England (12-5)   27.2   0-3    0-1     2-0   1  12   12  2020
 12   13          Denver (7-9)   26.7   1-2    1-2     0-2  13  32   13  2020
 13   14         Chicago (8-8)   25.8   0-2    2-3     1-0   7  26   14  2020
 14   15       Tampa Bay (7-9)   25.4   0-4    2-2     0-1   6  32   15  2020
 15   16        Buffalo (10-7)   23.9   1-1    0-1     1-2   7  25   17  2020
 16   17    Philadelphia (9-8)   23.8   0-0    1-2     2-3   6  25   16  2020
 17   18         NY Jets (7-9)   23.7   0-1    0-0     1-3  14  32   18  2020
 18   19          Dallas (8-8)   23.3   0-1    1-2     0-3   5  27   19  2020
 19   20      Pittsburgh (8-8)   22.7   0-3    1-0     0-3   4  25   21  2020
 20   21      Arizona (5-10-1)   22.3   0-4    1-2     1-2  16  32   20  2020
 21   22       Las Vegas (7-9)   20.7   0-3    0-3     2-1  12  27   23  2020
 22   23   Jacksonville (6-10)   20.6   1-3    0-3     1-1  13  30   22  2020
 23   24    LA Chargers (5-11)   20.5   0-3    1-2     1-2   2  28   25  2020
 24   25    Indianapolis (7-9)   20.4   2-2    2-1     1-1   2  25   24  2020
 25   26          Miami (5-11)   19.4   0-1    0-0     1-3  21  32   26  2020
 26   27      Cleveland (6-10)   18.4   1-3    0-1     1-3   6  28   27  2020
 27   28     Cincinnati (2-14)   15.7   0-3    0-1     0-3  26  32   28  2020
 28   29      NY Giants (4-12)   15.0   0-0    0-2     1-3  11  32   29  2020
 29   30       Carolina (5-11)   13.6   1-3    1-4     1-2   4  32   30  2020
 30   31      Detroit (3-12-1)   11.4   0-1    0-4     0-4   8  32   31  2020
 31   32     Washington (3-13)   10.6   0-1    0-2     0-3  23  32   32  2020,
    Rank                  Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
 0     1    New England (14-5)   38.6   5-0    1-0     2-2   1  29    2  2019
 1     2        LA Rams (15-4)   33.7   2-1    2-3     3-0   1  15    1  2019
 2     3   Indianapolis (11-7)   33.7   0-2    1-1     4-1   1  32    3  2019
 3     4    LA Chargers (13-5)   33.5   1-3    1-1     4-0   1  22    4  2019
 4     5    Kansas City (13-5)   32.1   2-4    1-0     2-1   1  19    9  2019
 5     6   Philadelphia (10-8)   32.0   2-0    1-4     1-2   1  29    5  2019
 6     7        Chicago (12-5)   31.2   1-1    0-1     3-0   2  26    7  2019
 7     8    New Orleans (14-4)   31.1   1-1    3-1     3-0   1  13    6  2019
 8     9         Dallas (11-7)   30.8   0-2    3-0     1-3   2  28    8  2019
 9    10      Baltimore (10-7)   29.9   1-2    0-1     3-2   2  21   10  2019
 10   11        Houston (11-6)   29.2   1-3    1-1     2-1   2  32   11  2019
 11   12       Tennessee (9-7)   29.0   1-3    2-1     1-1   4  24   12  2019
 12   13        Seattle (10-7)   28.3   1-3    1-2     1-0   5  28   13  2019
 13   14    Pittsburgh (9-6-1)   27.8   1-2    1-2   1-0-1   3  20   14  2019
 14   15     Minnesota (8-7-1)   25.4   0-2    1-3     0-1   2  25   15  2019
 15   16     Cleveland (7-8-1)   25.1   0-2    1-2   0-2-1  11  32   16  2019
 16   17         Atlanta (7-9)   23.9   0-0    0-5     0-2   4  30   17  2019
 17   18      NY Giants (5-11)   22.9   0-1    1-5     1-1  15  32   18  2019
 18   19        Carolina (7-9)   22.0   0-0    4-1     0-3   3  27   19  2019
 19   20        Detroit (6-10)   21.1   1-1    0-3     0-3   9  30   20  2019
 20   21        Buffalo (6-10)   20.7   0-4    0-2     2-1  13  29   21  2019
 21   22   Jacksonville (5-11)   20.1   2-2    0-2     0-5   7  29   23  2019
 22   23      Washington (7-9)   19.9   0-1    1-4     0-2   8  27   22  2019
 23   24         Denver (6-10)   19.3   1-4    0-1     2-2   6  29   24  2019
 24   25     Green Bay (6-9-1)   18.3   0-2    1-1   0-2-1  14  29   25  2019
 25   26      Las Vegas (4-12)   18.2   0-6    0-1     2-1  20  32   27  2019
 26   27  San Francisco (4-12)   17.7   0-4    0-1     1-2   9  32   26  2019
 27   28     Cincinnati (6-10)   17.4   1-2    1-2     0-4   4  31   29  2019
 28   29      Tampa Bay (5-11)   17.3   0-0    2-4     1-1   1  29   28  2019
 29   30           Miami (7-9)   17.0   1-2    1-0     1-2   4  30   30  2019
 30   31        NY Jets (4-12)   14.5   1-2    0-1     0-4  10  32   31  2019
 31   32        Arizona (3-13)   12.8   0-4    0-1     0-3  13  32   32  2019,
    Rank                  Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
 0     1   Philadelphia (16-3)   41.4   3-0    4-1     2-1   1  18    1  2018
 1     2      Minnesota (14-4)   36.5   3-1    1-1     1-2   1  24    3  2018
 2     3    New England (15-4)   35.1   2-1    1-1     3-0   1   8    2  2018
 3     4        Atlanta (11-7)   34.8   1-4    3-1     2-0   2  19    4  2018
 4     5    New Orleans (12-6)   32.4   1-4    3-1     1-0   1  25    5  2018
 5     6          Dallas (9-7)   31.2   1-2    1-1     1-2   2  27    8  2018
 6     7       Carolina (11-6)   31.0   3-5    1-0     1-0   2  22    6  2018
 7     8        LA Rams (11-6)   31.0   1-3    3-1     4-1   3  32    7  2018
 8     9  San Francisco (6-10)   30.0   0-1    2-3     1-4   9  32   10  2018
 9    10   Jacksonville (12-7)   29.4   0-1    0-2     4-3   7  28    9  2018
 10   11     LA Chargers (9-7)   29.3   0-2    1-1     0-0   9  29   11  2018
 11   12         Seattle (9-7)   29.0   1-1    4-2     1-2   7  25   12  2018
 12   13         Arizona (8-8)   27.1   0-1    3-3     2-2  13  29   14  2018
 13   14     Pittsburgh (13-4)   27.1   1-1    0-2     2-0   2  18   13  2018
 14   15         Detroit (9-7)   26.4   1-3    0-1     1-1   7  23   15  2018
 15   16      Tennessee (10-8)   25.4   0-1    2-2     1-2   7  24   16  2018
 16   17         Buffalo (9-8)   23.8   1-3    0-2     0-1   2  26   17  2018
 17   18      Washington (7-9)   23.4   0-4    2-2     2-1   5  26   19  2018
 18   19    Kansas City (10-7)   23.0   2-0    0-1     2-2   1  26   18  2018
 19   20      Tampa Bay (5-11)   22.9   1-5    0-2     0-2  10  27   21  2018
 20   21       Baltimore (9-7)   22.8   0-1    0-1     1-3   8  28   20  2018
 21   22      Cincinnati (7-9)   22.3   0-1    0-1     1-3  15  31   22  2018
 22   23        Chicago (5-11)   21.8   0-5    1-1     1-2   9  31   23  2018
 23   24       Green Bay (7-9)   19.9   0-4    1-1     1-3   2  24   24  2018
 24   25      Las Vegas (6-10)   18.6   0-2    0-1     1-2   3  29   25  2018
 25   26      NY Giants (3-13)   18.4   0-2    0-4     0-4   8  31   27  2018
 26   27          Miami (6-10)   17.6   2-2    0-1     2-0   7  27   26  2018
 27   28        NY Jets (5-11)   16.4   0-4    1-1     0-1  13  31   28  2018
 28   29         Denver (5-11)   14.6   0-2    1-0     1-1   5  31   29  2018
 29   30   Indianapolis (4-12)   11.8   0-0    1-3     0-5  12  31   30  2018
 30   31        Houston (4-12)    9.7   0-1    0-4     2-3  11  31   31  2018
 31   32      Cleveland (0-16)    3.9   0-1    0-1     0-5  26  32   32  2018,
    Rank                  Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
 0     1    New England (17-2)   46.6   3-0    1-0     5-1   1  16    1  2017
 1     2        Atlanta (13-6)   36.2   2-2    2-0     2-2   2  29    2  2017
 2     3     Pittsburgh (13-6)   36.1   2-2    1-1     3-2   2  21    3  2017
 3     4      Green Bay (12-7)   33.0   0-2    3-2     2-1   2  27    4  2017
 4     5    Kansas City (12-5)   32.4   1-2    4-1     1-2   1  19    5  2017
 5     6         Dallas (13-4)   29.2   2-1    0-2     2-0   1  32    6  2017
 6     7      Las Vegas (12-5)   28.6   0-3    2-1     4-1   2  26    8  2017
 7     8      NY Giants (11-6)   28.5   0-3    2-0     1-0   6  26    7  2017
 8     9          Denver (9-7)   28.4   0-4    1-2     3-0   1  19    9  2017
 9    10       Tennessee (9-7)   27.6   2-0    1-1     2-3   7  32   10  2017
 10   11        Houston (10-8)   27.3   1-3    2-3     2-0   5  25   12  2017
 11   12       Tampa Bay (9-7)   27.2   2-1    0-3     1-0   4  29   11  2017
 12   13          Miami (10-7)   27.1   1-3    0-1     0-2   8  31   15  2017
 13   14    Indianapolis (8-8)   27.0   1-2    2-2     0-2  10  32   14  2017
 14   15      Seattle (11-6-1)   26.8   2-2    0-0     1-1   3  19   13  2017
 15   16       Baltimore (8-8)   26.0   1-2    0-3     1-0   7  27   16  2017
 16   17    Philadelphia (7-9)   25.3   2-1    2-2     0-2   1  26   18  2017
 17   18    Cincinnati (6-9-1)   25.3   0-3    0-3     2-2   4  25   19  2017
 18   19     New Orleans (7-9)   25.2   0-3    0-3     2-1   8  31   17  2017
 19   20    Washington (8-7-1)   24.0   1-1    1-3     1-0   5  29   20  2017
 20   21       Arizona (7-8-1)   24.0   0-2    0-0   2-1-1   5  28   21  2017
 21   22       Carolina (6-10)   23.6   0-3    0-2     0-3   2  30   22  2017
 22   23         Detroit (9-8)   21.9   0-2    0-3     1-2   8  28   23  2017
 23   24       Minnesota (8-8)   21.1   1-1    2-1     1-1   1  25   24  2017
 24   25         Buffalo (7-9)   19.5   1-2    0-1     0-4   3  28   25  2017
 25   26        NY Jets (5-11)   18.2   0-4    0-0     1-4  11  30   26  2017
 26   27    LA Chargers (5-11)   17.7   1-2    2-3     1-3   7  31   27  2017
 27   28   Jacksonville (3-13)   17.3   0-2    1-3     1-4  25  32   28  2017
 28   29      Cleveland (1-15)   12.1   0-3    0-3     0-3  28  32   29  2017
 29   30        Chicago (3-13)   11.5   0-2    0-3     0-3  18  30   30  2017
 30   31  San Francisco (2-14)    9.2   0-2    0-1     0-4  12  32   31  2017
 31   32        LA Rams (4-12)    7.2   0-2    0-1     2-2   8  32   32  2017,
    Rank                  Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
 0     1         Denver (15-4)   38.4   2-1    5-1     3-1   1  10    5  2016
 1     2       Carolina (17-2)   36.4   3-1    1-0     2-0   1  18    1  2016
 2     3        Seattle (11-7)   35.7   1-3    4-2     0-2   1  18    2  2016
 3     4    Kansas City (12-6)   35.0   1-1    2-3     4-1   1  29    4  2016
 4     5        Arizona (14-4)   34.9   1-2    5-1     1-1   1  17    3  2016
 5     6     Pittsburgh (11-7)   33.8   2-3    2-1     2-1   3  15    7  2016
 6     7      Minnesota (11-6)   32.7   1-4    3-1     2-0   3  24    6  2016
 7     8     Cincinnati (12-5)   30.9   2-2    1-2     2-1   1  13    9  2016
 8     9      Green Bay (11-7)   30.3   2-4    2-2     3-0   2  14    8  2016
 9    10         Detroit (7-9)   29.3   0-4    1-3     1-1  10  32   10  2016
 10   11    New England (13-5)   28.6   1-2    1-0     3-1   1  18   11  2016
 11   12       Las Vegas (7-9)   25.7   1-3    0-5     1-0   9  26   15  2016
 12   13        NY Jets (10-6)   25.4   0-0    0-0     2-3   3  21   14  2016
 13   14         LA Rams (7-9)   25.3   3-1    1-4     0-1   8  27   12  2016
 14   15      Washington (9-8)   25.0   0-1    0-1     1-2  11  31   13  2016
 15   16         Houston (9-8)   24.9   0-3    1-0     1-1  10  29   16  2016
 16   17         Buffalo (8-8)   24.2   0-1    0-1     3-3   2  27   17  2016
 17   18        Chicago (6-10)   23.1   1-3    1-5     2-1   9  32   18  2016
 18   19     New Orleans (7-9)   22.0   0-3    0-1     0-2  12  32   19  2016
 19   20      Baltimore (5-11)   21.6   0-4    2-2     1-1   8  30   22  2016
 20   21    Philadelphia (7-9)   21.5   0-2    0-1     2-2   9  29   20  2016
 21   22    Indianapolis (8-8)   21.0   1-1    0-1     1-3   4  25   24  2016
 22   23  San Francisco (5-11)   20.9   0-4    1-4     1-1  15  29   23  2016
 23   24         Atlanta (8-8)   20.1   1-1    0-1     2-0   2  31   21  2016
 24   25    LA Chargers (4-12)   20.0   0-4    1-4     0-2   6  32   25  2016
 25   26      NY Giants (6-10)   18.0   0-1    0-1     1-3   6  27   26  2016
 26   27          Miami (6-10)   17.6   0-0    0-0     3-3  12  31   28  2016
 27   28      Tampa Bay (6-10)   16.6   0-2    0-0     0-3  15  32   27  2016
 28   29      Cleveland (3-13)   16.6   0-4    0-4     0-3  19  32   29  2016
 29   30         Dallas (4-12)   15.1   0-2    0-1     1-3   5  32   30  2016
 30   31   Jacksonville (5-11)   14.0   0-1    0-0     0-4  18  32   31  2016
 31   32      Tennessee (3-13)   10.3   0-1    0-0     0-5  27  32   32  2016,
    Rank                 Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
 0     1   New England (15-4)   41.3   3-1    3-2     3-0   1  24    2  2015
 1     2       Seattle (14-5)   37.3   2-2    1-1     3-1   1  15    1  2015
 2     3     Green Bay (13-5)   34.8   2-2    0-1     3-1   2  23    3  2015
 3     4  Indianapolis (13-6)   33.7   0-3    2-2     4-1   3  23    4  2015
 4     5        Dallas (13-5)   32.5   2-1    0-0     3-1   2  25    5  2015
 5     6        Buffalo (9-7)   31.7   2-1    0-2     1-2   2  22    6  2015
 6     7        Denver (12-5)   31.1   1-3    3-0     2-1   1  10    7  2015
 7     8     Baltimore (11-7)   30.8   0-2    2-1     1-4   4  22    8  2015
 8     9    Pittsburgh (11-6)   29.2   1-0    2-2     4-0   6  24    9  2015
 9    10    Kansas City (9-7)   28.8   2-0    1-3     2-0   3  30   10  2015
 10   11        Houston (9-7)   27.7   0-3    2-1     0-2  11  32   11  2015
 11   12  Cincinnati (10-6-1)   27.5   0-3    3-2   1-0-1   1  25   13  2015
 12   13       Detroit (11-6)   27.3   1-3    0-1     0-1   7  27   12  2015
 13   14  Philadelphia (10-6)   26.7   2-3    0-0     2-0   2  18   14  2015
 14   15    LA Chargers (9-7)   26.6   1-1    2-4     0-0   1  16   15  2015
 15   16     Carolina (8-9-1)   25.9   0-3    0-2   1-1-1   4  28   16  2015
 16   17       Arizona (11-6)   25.1   1-2    1-1     3-1   1  17   17  2015
 17   18          Miami (8-8)   24.0   1-2    1-4     1-1   6  26   18  2015
 18   19  San Francisco (8-8)   22.9   1-2    1-1     1-1   2  21   19  2015
 19   20      Minnesota (7-9)   22.4   0-3    0-1     1-2   8  26   20  2015
 20   21       NY Jets (4-12)   22.2   0-3    1-4     0-2  15  30   21  2015
 21   22    New Orleans (7-9)   21.0   1-1    1-1     1-3   5  26   23  2015
 22   23       Atlanta (6-10)   20.6   0-1    0-2     1-3  10  30   24  2015
 23   24       LA Rams (6-10)   20.5   1-2    1-1     0-2   8  28   22  2015

In [164]:
full_pi = pd.concat([df for df in list_of_pis], ignore_index=True)
full_pi

    Rank                  Team Rating v 1-5 v 6-10 v 11-16  Hi Low Last  Year
0      1        LA Rams (16-5)   38.7   4-2    0-2     4-0   1  19    1  2022
1      2  San Francisco (12-8)   35.7   3-1    2-2     1-3   2  26    2  2022
2      3    Kansas City (14-6)   33.9   0-2    3-2     4-0   1  19    4  2022
3      4     Cincinnati (13-8)   32.8   2-2    1-1     5-0   3  28    3  2022
4      5      Tampa Bay (14-5)   30.8   0-2    3-0     1-2   1  15    5  2022
..   ...                   ...    ...   ...    ...     ...  ..  ..  ...   ...
603   28     Washington (5-11)   16.9   1-3    0-2     2-2   8  31   28  2004
604   29    LA Chargers (4-12)   16.1   0-0    0-4     0-4  25  32   29  2004
605   30        Arizona (4-12)   15.1   0-1    1-2     0-4  22  32   30  2004
606   31      Las Vegas (4-12)   14.3   0-1    0-3     1-2   2  32   31  2004
607   32      NY Giants (4-12)   11.5   0-4    1-2     0-3   4  32   32  2004

[608 rows x 10 columns]

In [174]:
pi_csv = full_pi.to_csv('pi.csv')

In [175]:
pi_csv[:100]

TypeError: 'NoneType' object is not subscriptable

In [176]:
!ls

'NFL Gambling Modeling.ipynb'		 nfl_teams.csv	 spreadspoke_scores.csv
'NFL Gambling Pre-Modeling Work.ipynb'	 pi.csv		 Untitled.ipynb
 nfl_stadiums.csv			 spreadspoke.R