In [445]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import roc_auc_score, plot_roc_curve

In [446]:
!ls

'NFL Gambling.ipynb'   nfl_teams.csv   spreadspoke_scores.csv
 nfl_stadiums.csv      spreadspoke.R

In [447]:
df1 = pd.read_csv('spreadspoke_scores.csv')

In [448]:
df1 = df1.loc[(df1['schedule_season'] >= 1979) & (df1['schedule_week'] != 'Superbowl') 
              & (df1['stadium_neutral'] == False) & (df1['team_favorite_id'] != 'PICK')]

In [449]:
df1 = df1.drop(columns= 'stadium_neutral')

In [450]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN

In [451]:
len(df1)

10498

In [452]:
df1.describe()

,schedule_season,score_home,score_away,spread_favorite,weather_temperature,weather_wind_mph,weather_humidity
count,10498.000000,10498.000000,10498.000000,10498.000000,9694.000000,9694.000000,6223.000000
mean,2001.010859,22.791960,20.050391,-5.465089,59.912833,7.206519,66.515186
std,12.255204,10.377662,10.081200,3.399308,15.475054,5.741684,16.095935
min,1979.000000,0.000000,0.000000,-26.500000,-6.000000,0.000000,4.000000
25%,1991.000000,16.000000,13.000000,-7.000000,49.000000,0.000000,56.000000
50%,2002.000000,23.000000,20.000000,-4.500000,64.000000,7.000000,68.000000
75%,2012.000000,30.000000,27.000000,-3.000000,72.000000,11.000000,78.000000
max,2021.000000,62.000000,59.000000,-1.000000,97.000000,40.000000,100.000000

In [453]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10498 entries, 2501 to 13230
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   schedule_date        10498 non-null  object
 1   schedule_season      10498 non-null  int64
 2   schedule_week        10498 non-null  object
 3   schedule_playoff     10498 non-null  bool
 4   team_home            10498 non-null  object
 5   score_home           10498 non-null  float64
 6   score_away           10498 non-null  float64
 7   team_away            10498 non-null  object
 8   team_favorite_id     10498 non-null  object
 9   spread_favorite      10498 non-null  float64
 10  over_under_line      10498 non-null  object
 11  stadium              10498 non-null  object
 12  weather_temperature  9694 non-null   float64
 13  weather_wind_mph     9694 non-null   float64
 14  weather_humidity     6223 non-null   float64
 15  weather_detail       2586 non-null   object
dtypes: bool(1), float64(6), int64(1), object(8)
memory usage: 1.3+ MB

In [454]:
home_teams = df1['team_home']

In [455]:
home_team_ab = []
for team in home_teams:
    if team.__contains__('Cardinals'):
        home_team_ab.append('ARI')
    elif team.__contains__('Falcons'):
        home_team_ab.append('ATL')
    elif team.__contains__('Ravens'):
        home_team_ab.append('BAL')
    elif team.__contains__('Bills'):
        home_team_ab.append('BUF')
    elif team.__contains__('Panthers'):
        home_team_ab.append('CAR')
    elif team.__contains__('Bears'):
        home_team_ab.append('CHI')
    elif team.__contains__('Bengals'):
        home_team_ab.append('CIN')
    elif team.__contains__('Browns'):
        home_team_ab.append('CLE')
    elif team.__contains__('Cowboys'):
        home_team_ab.append('DAL')
    elif team.__contains__('Broncos'):
        home_team_ab.append('DEN')
    elif team.__contains__('Lions'):
        home_team_ab.append('DET')
    elif team.__contains__('Packers'):
        home_team_ab.append('GB')
    elif team.__contains__('Texans'):
        home_team_ab.append('HOU')
    elif team.__contains__('Colts'):
        home_team_ab.append('IND')
    elif team.__contains__('Jaguars'):
        home_team_ab.append('JAX')
    elif team.__contains__('Chiefs'):
        home_team_ab.append('KC')
    elif team.__contains__('Chargers'):
        home_team_ab.append('LAC')
    elif team.__contains__('Rams'):
        home_team_ab.append('LAR')
    elif team.__contains__('Dolphins'):
        home_team_ab.append('MIA')
    elif team.__contains__('Vikings'):
        home_team_ab.append('MIN')
    elif team.__contains__('Patriots'):
        home_team_ab.append('NE')
    elif team.__contains__('Saints'):
        home_team_ab.append('NO')
    elif team.__contains__('Giants'):
        home_team_ab.append('NYG')
    elif team.__contains__('Jets'):
        home_team_ab.append('NYJ')
    elif team.__contains__('Raiders'):
        home_team_ab.append('LVR')
    elif team.__contains__('Eagles'):
        home_team_ab.append('PHI')
    elif team.__contains__('Steelers'):
        home_team_ab.append('PIT')
    elif team.__contains__('Seahawks'):
        home_team_ab.append('SEA')
    elif team.__contains__('49ers'):
        home_team_ab.append('SF')
    elif team.__contains__('Buccaneers'):
        home_team_ab.append('TB')
    elif team.__contains__('Oilers'):
        home_team_ab.append('TEN')
    elif team.__contains__('Titans'):
        home_team_ab.append('TEN')
    elif team.__contains__('Redskins'):
        home_team_ab.append('WAS')
    elif team.__contains__('Football Team'):
        home_team_ab.append('WAS')

In [456]:
df1['team_home_id'] = home_team_ab
df1

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN,TB
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN,BUF
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN,CHI
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN,DEN
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN,KC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,1/22/2022,2021,Division,True,Tennessee Titans,16.0,19.0,Cincinnati Bengals,TEN,-4.0,48.5,Nissan Stadium,35.0,0.0,43.0,NaN,TEN
13227,1/23/2022,2021,Division,True,Kansas City Chiefs,42.0,36.0,Buffalo Bills,KC,-2.5,54.0,Arrowhead Stadium,35.0,6.0,54.0,NaN,KC
13228,1/23/2022,2021,Division,True,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,TB,-3.0,48.0,Raymond James Stadium,50.0,11.0,69.0,NaN,TB
13229,1/30/2022,2021,Conference,True,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,KC,-7.0,54.5,Arrowhead Stadium,41.0,4.0,41.0,NaN,KC
13230,1/30/2022,2021,Conference,True,Los Angeles Rams,20.0,17.0,San Francisco 49ers,LAR,-3.5,46.0,SoFi Stadium,72.0,0.0,NaN,DOME,LAR

In [457]:
away_teams = list(df1['team_away'].values)

In [458]:
away_team_ab = []
for team in away_teams:
    if team.__contains__('Cardinals'):
        away_team_ab.append('ARI')
    elif team.__contains__('Falcons'):
        away_team_ab.append('ATL')
    elif team.__contains__('Ravens'):
        away_team_ab.append('BAL')
    elif team.__contains__('Bills'):
        away_team_ab.append('BUF')
    elif team.__contains__('Panthers'):
        away_team_ab.append('CAR')
    elif team.__contains__('Bears'):
        away_team_ab.append('CHI')
    elif team.__contains__('Bengals'):
        away_team_ab.append('CIN')
    elif team.__contains__('Browns'):
        away_team_ab.append('CLE')
    elif team.__contains__('Cowboys'):
        away_team_ab.append('DAL')
    elif team.__contains__('Broncos'):
        away_team_ab.append('DEN')
    elif team.__contains__('Lions'):
        away_team_ab.append('DET')
    elif team.__contains__('Packers'):
        away_team_ab.append('GB')
    elif team.__contains__('Texans'):
        away_team_ab.append('HOU')
    elif team.__contains__('Colts'):
        away_team_ab.append('IND')
    elif team.__contains__('Jaguars'):
        away_team_ab.append('JAX')
    elif team.__contains__('Chiefs'):
        away_team_ab.append('KC')
    elif team.__contains__('Chargers'):
        away_team_ab.append('LAC')
    elif team.__contains__('Rams'):
        away_team_ab.append('LAR')
    elif team.__contains__('Dolphins'):
        away_team_ab.append('MIA')
    elif team.__contains__('Vikings'):
        away_team_ab.append('MIN')
    elif team.__contains__('Patriots'):
        away_team_ab.append('NE')
    elif team.__contains__('Saints'):
        away_team_ab.append('NO')
    elif team.__contains__('Giants'):
        away_team_ab.append('NYG')
    elif team.__contains__('Jets'):
        away_team_ab.append('NYJ')
    elif team.__contains__('Raiders'):
        away_team_ab.append('LVR')
    elif team.__contains__('Eagles'):
        away_team_ab.append('PHI')
    elif team.__contains__('Steelers'):
        away_team_ab.append('PIT')
    elif team.__contains__('Seahawks'):
        away_team_ab.append('SEA')
    elif team.__contains__('49ers'):
        away_team_ab.append('SF')
    elif team.__contains__('Buccaneers'):
        away_team_ab.append('TB')
    elif team.__contains__('Oilers'):
        away_team_ab.append('TEN')
    elif team.__contains__('Titans'):
        away_team_ab.append('TEN')
    elif team.__contains__('Redskins'):
        away_team_ab.append('WAS')
    elif team.__contains__('Football Team'):
        away_team_ab.append('WAS')

In [459]:
df1['team_away_id'] = away_team_ab

In [460]:
df1['team_away_id']

2501     DET
2502     MIA
2503      GB
2504     CIN
2505     IND
        ...
13226    CIN
13227    BUF
13228    LAR
13229    CIN
13230     SF
Name: team_away_id, Length: 10498, dtype: object

In [461]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN,TB,DET
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN,BUF,MIA
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN,CHI,GB
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN,DEN,CIN
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN,KC,IND

In [462]:
score_home = list(df1['score_home'].values)
score_away = list(df1['score_away'].values)

In [463]:
n_home_teams = list(df1['team_home_id'].values)

In [464]:
n_away_teams = list(df1['team_away_id'].values)

In [465]:
fav_team = list(df1['team_favorite_id'].values)

In [466]:
favorite_win = []
for score in list(range(0,10498)):
    if score_home[score] > score_away[score]:
        if n_home_teams[score] == fav_team[score]:
            favorite_win.append(True)
        else:
            favorite_win.append(False)
    elif score_home[score] < score_away[score]:
        if n_away_teams[score] == fav_team[score]:
            favorite_win.append(True)
        else:
            favorite_win.append(False)
    elif score_home[score] == score_away[score]:
        favorite_win.append(False)

In [467]:
favorite_win

[True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 ...]

In [468]:
df1['favorite_win'] = favorite_win

In [469]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id,favorite_win
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN,TB,DET,True
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN,BUF,MIA,True
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN,CHI,GB,True
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN,DEN,CIN,True
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN,KC,IND,True

In [470]:
df1['home_favorite'] = list((df1['team_home_id'] == df1['team_favorite_id']).values)

In [471]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id,favorite_win,home_favorite
2501,9/1/1979,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,30,Houlihan's Stadium,79.0,9.0,87.0,NaN,TB,DET,True,True
2502,9/2/1979,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,39,Ralph Wilson Stadium,74.0,15.0,74.0,NaN,BUF,MIA,True,False
2503,9/2/1979,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,31,Soldier Field,78.0,11.0,68.0,NaN,CHI,GB,True,True
2504,9/2/1979,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,31.5,Mile High Stadium,69.0,6.0,38.0,NaN,DEN,CIN,True,True
2505,9/2/1979,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,37,Arrowhead Stadium,76.0,8.0,71.0,NaN,KC,IND,True,True

In [472]:
df1['weather_temperature'].min()

-6.0

In [473]:
df1['schedule_date'] = pd.to_datetime(df1['schedule_date'])

In [474]:
df1['schedule_date'].value_counts()

2010-01-03    16
2014-12-28    16
2018-12-30    16
2017-01-01    16
2016-01-03    16
              ..
2004-12-24     1
1997-12-01     1
1989-12-04     1
1981-12-07     1
2014-12-11     1
Name: schedule_date, Length: 1973, dtype: int64

In [475]:
df1['yyyy'] = pd.to_datetime(df1['schedule_date']).dt.year
df1['mm'] = pd.to_datetime(df1['schedule_date']).dt.month

In [476]:
df1.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,...,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id,favorite_win,home_favorite,yyyy,mm
2501,1979-09-01,1979,1,False,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,TB,-3.0,...,79.0,9.0,87.0,NaN,TB,DET,True,True,1979,9
2502,1979-09-02,1979,1,False,Buffalo Bills,7.0,9.0,Miami Dolphins,MIA,-5.0,...,74.0,15.0,74.0,NaN,BUF,MIA,True,False,1979,9
2503,1979-09-02,1979,1,False,Chicago Bears,6.0,3.0,Green Bay Packers,CHI,-3.0,...,78.0,11.0,68.0,NaN,CHI,GB,True,True,1979,9
2504,1979-09-02,1979,1,False,Denver Broncos,10.0,0.0,Cincinnati Bengals,DEN,-3.0,...,69.0,6.0,38.0,NaN,DEN,CIN,True,True,1979,9
2505,1979-09-02,1979,1,False,Kansas City Chiefs,14.0,0.0,Baltimore Colts,KC,-1.0,...,76.0,8.0,71.0,NaN,KC,IND,True,True,1979,9

In [477]:
df1['mm'].value_counts()

12    2632
11    2598
10    2418
9     2261
1      575
8       14
Name: mm, dtype: int64

In [478]:
df1.loc[df1['mm'] == 1]

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,...,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,team_home_id,team_away_id,favorite_win,home_favorite,yyyy,mm
2731,1980-01-06,1979,Conference,True,Pittsburgh Steelers,27.0,13.0,Houston Oilers,PIT,-9.5,...,NaN,NaN,NaN,NaN,PIT,TEN,True,True,1980,1
2732,1980-01-06,1979,Conference,True,Tampa Bay Buccaneers,0.0,9.0,Los Angeles Rams,LAR,-3.5,...,NaN,NaN,NaN,NaN,TB,LAR,True,False,1980,1
2960,1981-01-03,1980,Division,True,Philadelphia Eagles,31.0,16.0,Minnesota Vikings,PHI,-7.0,...,NaN,NaN,NaN,NaN,PHI,MIN,True,True,1981,1
2961,1981-01-03,1980,Division,True,San Diego Chargers,20.0,14.0,Buffalo Bills,LAC,-6.0,...,NaN,NaN,NaN,NaN,LAC,BUF,True,True,1981,1
2962,1981-01-04,1980,Division,True,Atlanta Falcons,27.0,30.0,Dallas Cowboys,ATL,-2.5,...,NaN,NaN,NaN,NaN,ATL,DAL,False,True,1981,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,2022-01-22,2021,Division,True,Tennessee Titans,16.0,19.0,Cincinnati Bengals,TEN,-4.0,...,35.0,0.0,43.0,NaN,TEN,CIN,False,True,2022,1
13227,2022-01-23,2021,Division,True,Kansas City Chiefs,42.0,36.0,Buffalo Bills,KC,-2.5,...,35.0,6.0,54.0,NaN,KC,BUF,True,True,2022,1
13228,2022-01-23,2021,Division,True,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,TB,-3.0,...,50.0,11.0,69.0,NaN,TB,LAR,False,True,2022,1
13229,2022-01-30,2021,Conference,True,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,KC,-7.0,...,41.0,4.0,41.0,NaN,KC,CIN,False,True,2022,1
13230,2022-01-30,2021,Conference,True,Los Angeles Rams,20.0,17.0,San Francisco 49ers,LAR,-3.5,...,72.0,0.0,NaN,DOME,LAR,SF,True,True,2022,1

In [479]:
weather_df = df1[['schedule_week', 'team_home', 'score_home', 'score_away', 'team_away', 'weather_temperature', 'weather_wind_mph', 'weather_humidity', 'favorite_win', 'home_favorite', 'yyyy', 'mm', 'team_home_id', 'team_away_id']]

In [480]:
weather_df.head()

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND

In [481]:
tb_weather_9 = weather_df.loc[
    (weather_df['team_home'] == 'TB') &
    (weather_df['mm'] == 9)
]
tb_weather_9['weather_temperature'].mean()

nan

In [482]:
type(df1['schedule_date'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [483]:
type(weather_df['mm'].iloc[0])

numpy.int64

In [484]:
weather_df

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,Division,Tennessee Titans,16.0,19.0,Cincinnati Bengals,35.0,0.0,43.0,False,True,2022,1,TEN,CIN
13227,Division,Kansas City Chiefs,42.0,36.0,Buffalo Bills,35.0,6.0,54.0,True,True,2022,1,KC,BUF
13228,Division,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,50.0,11.0,69.0,False,True,2022,1,TB,LAR
13229,Conference,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,41.0,4.0,41.0,False,True,2022,1,KC,CIN
13230,Conference,Los Angeles Rams,20.0,17.0,San Francisco 49ers,72.0,0.0,NaN,True,True,2022,1,LAR,SF

In [486]:
t_df = weather_df.groupby(['team_home', 'mm'])['weather_temperature'].mean()

In [487]:
t_df

team_home            mm
Arizona Cardinals    1     70.222222
                     9     77.673913
                     10    73.338983
                     11    67.490196
                     12    65.688525
                             ...
Washington Redskins  1     47.142857
                     9     71.506667
                     10    59.944444
                     11    49.025000
                     12    41.766234
Name: weather_temperature, Length: 221, dtype: float64

In [488]:
t_df['Arizona Cardinals']

mm
1     70.222222
9     77.673913
10    73.338983
11    67.490196
12    65.688525
Name: weather_temperature, dtype: float64

In [489]:
def get_difference_in_temp(home_team, month, temp):
    diff = t_df[home_team][month] - temp
    return diff

In [490]:
differences = []
for team, m, t in weather_df[['team_home', 'mm', 'weather_temperature']].values:
    differences.append(get_difference_in_temp(team, m, t))

In [491]:
differences

[2.7285714285714278,
 -10.287500000000001,
 -11.683544303797461,
 -2.2249999999999943,
 -6.957746478873233,
 1.382352941176464,
 1.3670886075949369,
 0.0,
 -2.0434782608695627,
 -6.414285714285711,
 -4.470588235294116,
 -7.933333333333337,
 -8.49333333333334,
 -12.845070422535215,
 -0.22499999999999432,
 9.712499999999999,
 6.316455696202539,
 2.911392405063289,
 1.8548387096774235,
 6.1549295774647845,
 5.753246753246756,
 10.014705882352942,
 -1.78125,
 -0.5483870967741922,
 4.585714285714289,
 1.3380281690140805,
 9.696969696969703,
 7.303030303030297,
 9.470588235294116,
 2.911392405063289,
 0.0,
 -11.617647058823536,
 7.367088607594937,
 0.0,
 5.956521739130437,
 -7.78125,
 -4.470588235294116,
 5.066666666666663,
 3.5066666666666606,
 13.712499999999999,
 11.696969696969703,
 -2.2249999999999943,
 0.0,
 4.042253521126767,
 3.8548387096774235,
 12.367088607594937,
 10.154929577464785,
 7.753246753246756,
 11.014705882352942,
 7.066666666666663,
 -0.27142857142857224,
 10.303030303030297,
 0.3380281690140805,
 -0.75,
 -0.6835443037974613,
 -1.529411764705884,
 0.0,
 0.0,
 6.382352941176464,
 0.0,
 3.9565217391304373,
 3.0697674418604635,
 1.585714285714289,
 -0.78125,
 -4.470588235294116,
 -1.1571428571428584,
 7.370370370370367,
 -5.0,
 2.5333333333333314,
 6.426666666666669,
 -14.179487179487182,
 0.0,
 26.573333333333338,
 0.29113924050633244,
 -0.1785714285714306,
 -0.8157894736842124,
 0.455696202531648,
 1.776315789473685,
 1.6538461538461604,
 6.0,
 8.756756756756758,
 17.64383561643836,
 10.42666666666667,
 2.154761904761898,
 9.842857142857142,
 12.272727272727273,
 6.438356164383563,
 10.184210526315788,
 -3.3461538461538396,
 -4.450000000000003,
 8.333333333333336,
 1.5945945945945965,
 9.3125,
 -18.46666666666667,
 -16.57333333333333,
 -11.845238095238102,
 -19.727272727272727,
 5.28125,
 18.573333333333338,
 -8.708860759493668,
 -0.1785714285714306,
 -5.6875,
 5.776315789473685,
 -9.033333333333331,
 -1.4054054054054035,
 -10.055555555555557,
 -14.454545454545453,
 -1.3461538461538396,
 6.0,
 -0.3561643835616408,
 5.820512820512818,
 0.0,
 0.0,
 6.28125,
 5.438356164383563,
 2.5454545454545467,
 2.776315789473685,
 -4.666666666666664,
 8.944444444444443,
 9.370370370370367,
 17.670212765957444,
 2.0,
 1.0506329113924053,
 3.6666666666666643,
 2.0133333333333354,
 5.049382716049379,
 -2.1898734177215218,
 1.821917808219176,
 -1.3999999999999986,
 5.759493670886073,
 3.4933333333333323,
 -11.670454545454547,
 4.272727272727273,
 -1.9599999999999937,
 11.378048780487802,
 6.653333333333336,
 5.013333333333335,
 0.0,
 13.04938271604938,
 0.0,
 10.810126582278478,
 -5.959999999999994,
 0.024691358024696797,
 -3.178082191780824,
 -2.6341463414634134,
 -5.975000000000001,
 12.766355140186917,
 -0.9493670886075947,
 -14.333333333333336,
 0.0,
 21.359550561797747,
 -5.039473684210527,
 0.6000000000000014,
 -0.2405063291139271,
 0.0512820512820511,
 2.5411764705882334,
 -11.670454545454547,
 6.567567567567565,
 -6.975000000000001,
 4.521739130434781,
 11.766355140186917,
 0.0,
 2.6702127659574444,
 -16.0,
 4.378048780487802,
 5.013333333333335,
 4.049382716049379,
 -18.039473684210527,
 -12.178082191780824,
 -4.506666666666668,
 3.051282051282051,
 2.5411764705882334,
 -5.432432432432435,
 -11.670454545454547,
 2.0400000000000063,
 8.090909090909093,
 6.349206349206348,
 12.271428571428572,
 14.276315789473685,
 -4.024390243902438,
 4.200000000000003,
 4.585365853658537,
 6.517647058823528,
 -5.154761904761905,
 9.399999999999999,
 11.01204819277109,
 2.7662337662337677,
 -0.29213483146067176,
 -5.414634146341463,
 -15.045454545454547,
 21.98701298701299,
 0.0,
 -2.9466666666666654,
 35.116279069767444,
 -0.29213483146067176,
 8.200000000000003,
 -1.0327868852459048,
 -0.6585365853658516,
 -6.600000000000001,
 2.7662337662337677,
 0.0,
 0.0,
 -3.2021276595744723,
 17.98701298701299,
 2.443037974683545,
 3.580246913580247,
 13.271428571428572,
 0.0,
 2.975609756097562,
 -4.346666666666664,
 -1.1341463414634134,
 2.967213114754095,
 -3.4823529411764724,
 -2.98795180722891,
 -2.154761904761905,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -0.2875000000000014,
 -4.303030303030297,
 -2.088607594936711,
 -12.957746478873233,
 5.382352941176464,
 -1.6329113924050631,
 -7.8450704225352155,
 0.0,
 -4.043478260869563,
 -6.414285714285711,
 -4.985294117647058,
 -4.470588235294116,
 -11.933333333333337,
 -6.493333333333339,
 5.728571428571428,
 -6.75,
 -0.6835443037974613,
 -0.22499999999999432,
 -1.088607594936711,
 1.0422535211267672,
 5.8548387096774235,
 14.367088607594937,
 -3.8450704225352155,
 -5.246753246753244,
 3.21875,
 6.451612903225808,
 4.303030303030297,
 -4.6619718309859195,
 -10.683544303797461,
 -8.303030303030297,
 -9.696969696969703,
 -8.529411764705884,
 0.7750000000000057,
 0.0,
 0.0,
 4.382352941176464,
 0.0,
 -3.0434782608695627,
 5.0697674418604635,
 -4.470588235294116,
 -9.414285714285711,
 11.25,
 9.712499999999999,
 9.696969696969703,
 0.0,
 7.911392405063289,
 11.042253521126767,
 -2.1451612903225765,
 7.753246753246756,
 7.014705882352942,
 4.451612903225808,
 5.066666666666663,
 0.7285714285714278,
 7.506666666666661,
 12.154929577464785,
 9.370370370370367,
 13.42666666666667,
 0.154761904761898,
 11.842857142857142,
 0.0,
 3.28125,
 1.4383561643835634,
 24.573333333333338,
 -0.1785714285714306,
 1.3125,
 2.6538461538461604,
 3.455696202531648,
 -0.45000000000000284,
 4.756756756756758,
 10.370370370370367,
 3.5333333333333314,
 5.154761904761898,
 0.0,
 9.272727272727273,
 31.573333333333338,
 -1.7088607594936676,
 2.1842105263157876,
 2.6538461538461604,
 9.545454545454547,
 -9.033333333333331,
 6.333333333333336,
 3.5945945945945965,
 -8.179487179487182,
 -10.0,
 6.756756756756758,
 8.64383561643836,
 8.42666666666667,
 3.8205128205128176,
 0.0,
 0.4383561643835634,
 -0.1785714285714306,
 -2.6875,
 -3.544303797468352,
 0.5499999999999972,
 7.776315789473685,
 -6.055555555555557,
 11.545454545454547,
 21.370370370370367,
 7.0,
 11.533333333333331,
 17.42666666666667,
 14.154761904761898,
 15.842857142857142,
 0.0,
 22.272727272727273,
 12.184210526315788,
 7.65384615384616,
 12.455696202531648,
 6.776315789473685,
 10.944444444444443,
 12.3125,
 3.0506329113924053,
 4.378048780487802,
 -13.986666666666665,
 0.0,
 -6.189873417721522,
 -1.4782608695652186,
 3.9605263157894726,
 -0.3999999999999986,
 4.493333333333332,
 -11.670454545454547,
 -0.7272727272727266,
 2.567567567567565,
 -0.9750000000000014,
 -5.346666666666664,
 -5.0,
 -16.333333333333336,
 -11.95061728395062,
 4.521739130434781,
 23.359550561797747,
 0.024691358024696797,
 4.821917808219176,
 5.365853658536587,
 0.6000000000000014,
 2.051282051282051,
 -11.670454545454547,
 -17.727272727272727,
 -4.432432432432435,
 0.0,
 6.670212765957444,
 6.666666666666664,
 12.378048780487802,
 13.766355140186917,
 16.013333333333335,
 0.0,
 -1.9599999999999937,
 33.35955056179775,
 9.960526315789473,
 8.821917808219176,
 8.493333333333332,
 3.051282051282051,
 4.024999999999999,
 -11.670454545454547,
 11.040000000000006,
 19.670212765957444,
 2.0506329113924053,
 2.653333333333336,
 10.766355140186917,
 6.013333333333335,
 29.359550561797747,
 4.960526315789473,
 7.365853658536587,
 12.759493670886073,
 1.5411764705882334,
 3.2727272727272734,
 0.5675675675675649,
 0.024691358024696797,
 17.766355140186917,
 0.0,
 22.670212765957444,
 4.0,
 2.0493827160493794,
 0.0,
 -4.189873417721522,
 4.521739130434781,
 0.024691358024696797,
 9.821917808219176,
 8.493333333333332,
 2.051282051282051,
 1.5411764705882334,
 1.9672131147540952,
 0.0,
 -24.556962025316455,
 -20.419753086419753,
 -19.650793650793652,
 -3.723684210526315,
 4.967213114754095,
 -7.414634146341463,
 3.3414634146341484,
 -15.045454545454547,
 -29.6,
 0.012048192771089816,
 -12.233766233766232,
 -3.2021276595744723,
 -1.154761904761905,
 -7.233766233766232,
 18.98701298701299,
 -2.5,
 4.443037974683545,
 -6.375,
 0.0,
 7.053333333333335,
 44.116279069767444,
 7.653333333333336,
 9.200000000000003,
 4.585365853658537,
 8.517647058823528,
 -0.024390243902438158,
 2.7978723404255277,
 5.01204819277109,
 16.5,
 23.580246913580247,
 25.271428571428572,
 0.0,
 0.0,
 2.975609756097562,
 -0.29213483146067176,
 18.865853658536587,
 -1.6585365853658516,
 -15.045454545454547,
 17.4,
 1.845238095238095,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.7285714285714278,
 -4.6619718309859195,
 -2.2875000000000014,
 3.3164556962025387,
 -1.3030303030302974,
 -0.22499999999999432,
 0.0,
 2.382352941176464,
 3.1549295774647845,
 -1.2467532467532436,
 -1.985294117647058,
 -3.4933333333333394,
 0.30303030303029743,
 1.8548387096774235,
 -7.75,
 -5.696969696969703,
 -4.529411764705884,
 -2.088607594936711,
 -4.957746478873233,
 0.0,
 -4.043478260869563,
 -4.414285714285711,
 -1.78125,
 -9.49333333333334,
 5.367088607594937,
 8.712499999999999,
 11.33802816901408,
 8.316455696202539,
 4.696969696969703,
 -3.2249999999999943,
 0.0,
 1.0422535211267672,
 2.382352941176464,
 13.367088607594937,
 7.753246753246756,
 3.0697674418604635,
 6.014705882352942,
 0.06666666666666288,
 3.1549295774647845,
 3.25,
 -5.303030303030297,
 -3.6969696969697026,
 -4.529411764705884,
 3.7750000000000057,
 0.0,
 4.911392405063289,
 1.9565217391304373,
 1.585714285714289,
 -2.985294117647058,
 0.4516129032258078,
 -4.470588235294116,
 4.728571428571428,
 13.316455696202539,
 5.533333333333331,
 0.0,
 4.28125,
 -1.5616438356164366,
 19.573333333333338,
 4.291139240506332,
 -0.1785714285714306,
 6.184210526315788,
 6.65384615384616,
 -1.4500000000000028,
 -8.666666666666664,
 0.5945945945945965,
 1.9444444444444429,
 -4.544303797468352,
 9.370370370370367,
 0.0,
 5.756756756756758,
 -11.179487179487182,
 1.8428571428571416,
 0.0,
 2.2727272727272734,
 -0.1785714285714306,
 7.184210526315788,
 7.3125,
 2.5454545454545467,
 -0.45000000000000284,
 4.776315789473685,
 8.533333333333331,
 1.3703703703703667,
 -1.0,
 0.6438356164383592,
 -2.5733333333333306,
 5.154761904761898,
 3.8428571428571416,
 4.438356164383563,
 25.573333333333338,
 5.291139240506332,
 4.3125,
 5.65384615384616,
 -9.033333333333331,
 0.0,
 25.370370370370367,
 11.533333333333331,
 14.756756756756758,
 14.42666666666667,
 15.154761904761898,
 0.0,
 -0.1785714285714306,
 11.3125,
 6.65384615384616,
 12.455696202531648,
 6.776315789473685,
 10.333333333333336,
 10.944444444444443,
 0.5454545454545467,
 -7.949367088607595,
 -13.621951219512198,
 -10.95061728395062,
 -6.478260869565219,
 -2.9599999999999937,
 0.024691358024696797,
 -3.178082191780824,
 -1.3999999999999986,
 -3.240506329113927,
 -5.506666666666668,
 -4.948717948717949,
 -2.432432432432435,
 -9.975000000000001,
 -10.986666666666665,
 -2.0,
 -7.986666666666665,
 -6.950617283950621,
 -8.189873417721522,
 -0.4782608695652186,
 21.359550561797747,
 -0.03947368421052744,
 -1.948717948717949,
 3.5411764705882334,
 -11.670454545454547,
 -8.727272727272727,
 -5.975000000000001,
 7.766355140186917,
 13.670212765957444,
 4.378048780487802,
 0.0,
 -4.950617283950621,
 -11.189873417721522,
 6.040000000000006,
 15.359550561797747,
 -1.0394736842105274,
 -0.17808219178082396,
 -1.240506329113927,
 -2.4588235294117666,
 -2.7272727272727266,
 13.567567567567565,
 -11.670454545454547,
 8.0,
 12.050632911392405,
 20.666666666666664,
 16.378048780487802,
 12.653333333333336,
 6.766355140186917,
 0.0,
 7.810126582278478,
 3.5217391304347814,
 8.365853658536587,
 -2.3999999999999986,
 10.759493670886073,
 20.567567567567565,
 21.670212765957444,
 -10.233644859813083,
 0.0,
 9.050632911392405,
 6.653333333333336,
 0.0,
 38.35955056179775,
 6.960526315789473,
 0.024691358024696797,
 7.365853658536587,
 11.493333333333332,
 6.051282051282051,
 8.541176470588233,
 2.0400000000000063,
 0.0,
 -4.5,
 -1.5569620253164551,
 9.580246913580247,
 -14.375,
 -4.946666666666665,
 11.797872340425528,
 1.8658536585365866,
 -0.1547619047619051,
 -15.045454545454547,
 -10.600000000000001,
 16.01204819277109,
 -1.2337662337662323,
 -3.032786885245905,
 2.349206349206348,
 0.0,
 9.271428571428572,
 -1.375,
 -2.723684210526315,
 5.653333333333336,
 -0.29213483146067176,
 -3.032786885245905,
 -2.6585365853658516,
 0.3999999999999986,
 6.01204819277109,
 6.766233766233768,
 0.9756097560975618,
 16.797872340425528,
 11.865853658536587,
 42.98701298701299,
 13.5,
 25.443037974683545,
 0.0,
 0.9756097560975618,
 57.116279069767444,
 -0.29213483146067176,
 16.200000000000003,
 16.585365853658537,
 -15.045454545454547,
 -4.154761904761905,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -1.75,
 -9.287500000000001,
 -7.303030303030297,
 18.775000000000006,
 0.0,
 -10.088607594936711,
 -0.6329113924050631,
 0.0,
 -6.246753246753244,
 -4.043478260869563,
 -4.414285714285711,
 -0.5483870967741922,
 -4.470588235294116,
 -6.529411764705884,
 3.7124999999999986,
 -3.6619718309859195,
 10.316455696202539,
 10.303030303030297,
 8.775000000000006,
 0.0,
 9.042253521126767,
 1.382352941176464,
 0.8548387096774235,
 3.1549295774647845,
 10.014705882352942,
 6.066666666666663,
 1.7285714285714278,
 8.753246753246756,
 9.670212765957444,
 -11.949367088607595,
 -4.333333333333336,
 -14.346666666666664,
 -3.233644859813083,
 7.013333333333335,
 -5.950617283950621,
 0.0,
 0.024691358024696797,
 -0.6341463414634134,
 -5.240506329113927,
 -4.727272727272727,
 2.5,
 17.766355140186917,
 0.0,
 7.670212765957444,
 16.050632911392405,
 0.3780487804878021,
 3.5217391304347814,
 -3.6404494382022534,
 13.960526315789473,
 17.365853658536587,
 2.051282051282051,
 1.5411764705882334,
 -11.670454545454547,
 11.024999999999999,
 -4.432432432432435,
 2.975609756097562,
 -26.5,
 -17.556962025316455,
 -25.650793650793652,
 -1.375,
 -15.946666666666665,
 -1.1923076923076934,
 -6.202127659574472,
 -0.29213483146067176,
 -18.134146341463413,
 -21.414634146341463,
 -23.482352941176472,
 -22.233766233766232,
 0.0,
 2.8658536585365866,
 4.341463414634148,
 25.98701298701299,
 11.580246913580247,
 16.053333333333335,
 18.276315789473685,
 0.9756097560975618,
 -4.883720930232556,
 9.653333333333336,
 13.200000000000003,
 -15.045454545454547,
 13.399999999999999,
 0.0,
 -0.1923076923076934,
 5.5,
 -2.556962025316455,
 -0.650793650793652,
 -2.7285714285714278,
 -0.375,
 0.0,
 7.585365853658537,
 5.341463414634148,
 -15.045454545454547,
 14.01204819277109,
 9.766233766233768,
 2.845238095238095,
 -0.012987012987011326,
 -13.419753086419753,
 15.271428571428572,
 0.0,
 8.276315789473685,
 3.8076923076923066,
 7.975609756097562,
 -4.883720930232556,
 -0.29213483146067176,
 -16.482352941176472,
 3.845238095238095,
 -4.600000000000001,
 -8.98795180722891,
 -4.202127659574472,
 0.0,
 0.0,
 6.0,
 -0.3333333333333357,
 0.0,
 3.7777777777777786,
 2.1000000000000014,
 7.0,
 9.57142857142857,
 -23.700000000000003,
 -7.5,
 6.142857142857146,
 -4.333333333333329,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -4.333333333333329,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -3.548387096774192,
 -8.287500000000001,
 -13.683544303797461,
 -7.303030303030297,
 -9.696969696969703,
 0.0,
 -12.957746478873233,
 -12.845070422535215,
 0.0,
 -9.246753246753244,
 -7.985294117647058,
 -3.78125,
 -0.27142857142857224,
 -12.49333333333334,
 -0.6329113924050631,
 -9.66197183098592,
 -13.75,
 -1.6835443037974613,
 -9.303030303030297,
 0.0,
 2.911392405063289,
 -7.695652173913047,
 -5.617647058823536,
 -0.14516129032257652,
 -17.043478260869563,
 -10.933333333333337,
 0.04225352112676717,
 10.303030303030297,
 3.7124999999999986,
 -4.529411764705884,
 0.7750000000000057,
 0.0,
 -8.088607594936711,
 0.0,
 -1.8450704225352155,
 0.0,
 -4.470588235294116,
 -15.933333333333337,
 5.728571428571428,
 -0.4933333333333394,
 -4.695652173913047,
 16.25,
 10.712499999999999,
 6.470588235294116,
 2.7750000000000057,
 3.8548387096774235,
 -0.6329113924050631,
 10.956521739130437,
 13.585714285714289,
 13.014705882352942,
 -1.78125,
 1.4516129032258078,
 -4.470588235294116,
 6.728571428571428,
 7.753246753246756,
 1.3703703703703667,
 -14.243243243243242,
 -6.356164383561641,
 -5.573333333333331,
 -15.157142857142858,
 -16.727272727272727,
 1.28125,
 -2.4266666666666623,
 -7.708860759493668,
 -0.1785714285714306,
 -6.815789473684212,
 -6.454545454545453,
 -5.055555555555557,
 -15.466666666666669,
 3.3703703703703667,
 1.756756756756758,
 0.4266666666666694,
 -0.845238095238102,
 0.0,
 0.0,
 -2.280000000000001,
 1.4383561643835634,
 -2.8157894736842124,
 -5.450000000000003,
 -2.223684210526315,
 -0.6666666666666643,
 1.6438356164383592,
 -2.0,
 -3.845238095238102,
 7.820512820512818,
 0.0,
 -2.7272727272727266,
 2.28125,
 -2.4266666666666623,
 6.291139240506332,
 -0.1785714285714306,
 7.3125,
 1.5454545454545467,
 -9.033333333333331,
 -1.4054054054054035,
 3.8428571428571416,
 -1.0,
 4.533333333333331,
 11.154761904761898,
 -3.1794871794871824,
 2.8428571428571416,
 0.0,
 8.3125,
 7.455696202531648,
 0.5945945945945965,
 3.944444444444443,
 2.3333333333333357,
 9.370370370370367,
 16.53333333333333,
 10.756756756756758,
 11.64383561643836,
 13.42666666666667,
 2.8205128205128176,
 -2.280000000000001,
 4.438356164383563,
 16.184210526315788,
 16.455696202531648,
 15.545454545454547,
 -2.223684210526315,
 3.3333333333333357,
 -3.450000000000003,
 -0.9506172839506206,
 0.0,
 -8.189873417721522,
 -2.4782608695652186,
 -3.6404494382022534,
 0.9605263157894726,
 0.024691358024696797,
 7.365853658536587,
 11.759493670886073,
 1.4933333333333323,
 -1.4588235294117666,
 -11.670454545454547,
 6.024999999999999,
 0.0,
 9.0,
 12.653333333333336,
 0.0,
 2.8101265822784782,
 -3.5,
 -3.6404494382022534,
 5.960526315789473,
 11.821917808219176,
 12.365853658536587,
 -6.948717948717949,
 0.5411764705882334,
 11.272727272727273,
 25.670212765957444,
 6.670212765957444,
 -8.949367088607595,
 -9.621951219512198,
 3.766355140186917,
 6.013333333333335,
 -10.95061728395062,
 4.521739130434781,
 -2.9599999999999937,
 -0.03947368421052744,
 -0.2405063291139271,
 -8.506666666666668,
 -5.727272727272727,
 0.024691358024696797,
 14.766355140186917,
 0.0,
 16.670212765957444,
 2.6666666666666643,
 -2.346666666666664,
 5.5,
 9.521739130434781,
 0.024691358024696797,
 -1.6341463414634134,
 6.051282051282051,
 -11.670454545454547,
 -3.432432432432435,
 -0.9750000000000014,
 -2.9599999999999937,
 -6.154761904761905,
 -6.5,
 6.625,
 1.0533333333333346,
 0.0,
 7.276315789473685,
 -2.1341463414634134,
 -1.414634146341463,
 -1.4823529411764724,
 0.3414634146341484,
 -15.045454545454547,
 -1.2337662337662323,
 ...]

In [492]:
weather_df['away_temp_diff'] = differences
weather_df

<ipython-input-492-b140267ae5b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['away_temp_diff'] = differences

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id,away_temp_diff
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET,2.728571
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA,-10.287500
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB,-11.683544
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN,-2.225000
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND,-6.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,Division,Tennessee Titans,16.0,19.0,Cincinnati Bengals,35.0,0.0,43.0,False,True,2022,1,TEN,CIN,9.800000
13227,Division,Kansas City Chiefs,42.0,36.0,Buffalo Bills,35.0,6.0,54.0,True,True,2022,1,KC,BUF,-1.000000
13228,Division,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,50.0,11.0,69.0,False,True,2022,1,TB,LAR,14.500000
13229,Conference,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,41.0,4.0,41.0,False,True,2022,1,KC,CIN,-7.000000
13230,Conference,Los Angeles Rams,20.0,17.0,San Francisco 49ers,72.0,0.0,NaN,True,True,2022,1,LAR,SF,-6.875000

In [493]:
t_df['Miami Dolphins']

mm
1     73.500000
8     81.000000
9     82.854839
10    80.438356
11    75.040000
12    71.797872
Name: weather_temperature, dtype: float64

In [494]:
t_df['Buffalo Bills']

mm
1     28.142857
8     65.000000
9     63.712500
10    52.533333
11    43.050633
12    33.090909
Name: weather_temperature, dtype: float64

In [514]:
weather_df.loc[(weather_df['team_home_id'] == 'MIA') & (weather_df['mm'] == 9)]

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id,away_temp_diff,away_wind_diff
2522,2,Miami Dolphins,19.0,10.0,Seattle Seahawks,81.0,13.0,81.0,True,True,1979,9,MIA,SEA,1.854839,-3.33871
2548,4,Miami Dolphins,31.0,16.0,Chicago Bears,79.0,8.0,86.0,True,True,1979,9,MIA,CHI,3.854839,1.66129
2755,2,Miami Dolphins,17.0,16.0,Cincinnati Bengals,77.0,8.0,93.0,True,True,1980,9,MIA,CIN,5.854839,1.66129
2782,4,Miami Dolphins,21.0,16.0,New Orleans Saints,85.0,10.0,72.0,True,True,1980,9,MIA,NO,-2.145161,-0.33871
2981,2,Miami Dolphins,30.0,10.0,Pittsburgh Steelers,81.0,10.0,80.0,True,True,1981,9,MIA,PIT,1.854839,-0.33871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12418,1,Miami Dolphins,10.0,59.0,Baltimore Ravens,NaN,NaN,NaN,True,False,2019,9,MIA,BAL,NaN,NaN
12436,2,Miami Dolphins,0.0,43.0,New England Patriots,NaN,NaN,NaN,True,False,2019,9,MIA,NE,NaN,NaN
12470,4,Miami Dolphins,10.0,30.0,Los Angeles Chargers,NaN,NaN,NaN,True,False,2019,9,MIA,LAC,NaN,NaN
12702,2,Miami Dolphins,28.0,31.0,Buffalo Bills,NaN,NaN,NaN,True,False,2020,9,MIA,BUF,NaN,NaN
12972,2,Miami Dolphins,0.0,35.0,Buffalo Bills,NaN,NaN,NaN,True,False,2021,9,MIA,BUF,NaN,NaN

In [496]:
weather_df

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id,away_temp_diff
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET,2.728571
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA,-10.287500
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB,-11.683544
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN,-2.225000
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND,-6.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,Division,Tennessee Titans,16.0,19.0,Cincinnati Bengals,35.0,0.0,43.0,False,True,2022,1,TEN,CIN,9.800000
13227,Division,Kansas City Chiefs,42.0,36.0,Buffalo Bills,35.0,6.0,54.0,True,True,2022,1,KC,BUF,-1.000000
13228,Division,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,50.0,11.0,69.0,False,True,2022,1,TB,LAR,14.500000
13229,Conference,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,41.0,4.0,41.0,False,True,2022,1,KC,CIN,-7.000000
13230,Conference,Los Angeles Rams,20.0,17.0,San Francisco 49ers,72.0,0.0,NaN,True,True,2022,1,LAR,SF,-6.875000

In [497]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10498 entries, 2501 to 13230
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   schedule_week        10498 non-null  object
 1   team_home            10498 non-null  object
 2   score_home           10498 non-null  float64
 3   score_away           10498 non-null  float64
 4   team_away            10498 non-null  object
 5   weather_temperature  9694 non-null   float64
 6   weather_wind_mph     9694 non-null   float64
 7   weather_humidity     6223 non-null   float64
 8   favorite_win         10498 non-null  bool
 9   home_favorite        10498 non-null  bool
 10  yyyy                 10498 non-null  int64
 11  mm                   10498 non-null  int64
 12  team_home_id         10498 non-null  object
 13  team_away_id         10498 non-null  object
 14  away_temp_diff       9694 non-null   float64
dtypes: bool(2), float64(6), int64(2), object(5)
memory usage: 1.1+ MB

In [ ]:
weather_df

In [510]:
wind_df = weather_df.groupby(['team_home', 'mm'])['weather_wind_mph'].mean()
wind_df

team_home            mm
Arizona Cardinals    1     0.666667
                     9     2.891304
                     10    3.423729
                     11    3.901961
                     12    2.426230
                             ...
Washington Redskins  1     8.000000
                     9     8.280000
                     10    9.375000
                     11    9.137500
                     12    9.103896
Name: weather_wind_mph, Length: 221, dtype: float64

In [511]:
def get_difference_in_wind(home_team, month, wind):
    diff = wind_df[home_team][month] - wind
    return diff

In [512]:
differences = []
for team, w, wi in weather_df[['team_home', 'mm', 'weather_wind_mph']].values:
    differences.append(get_difference_in_wind(team, w, wi))

In [513]:
weather_df['away_wind_diff'] = differences
weather_df

<ipython-input-513-35761b0da99c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_df['away_wind_diff'] = differences

,schedule_week,team_home,score_home,score_away,team_away,weather_temperature,weather_wind_mph,weather_humidity,favorite_win,home_favorite,yyyy,mm,team_home_id,team_away_id,away_temp_diff,away_wind_diff
2501,1,Tampa Bay Buccaneers,31.0,16.0,Detroit Lions,79.0,9.0,87.0,True,True,1979,9,TB,DET,2.728571,-1.585714
2502,1,Buffalo Bills,7.0,9.0,Miami Dolphins,74.0,15.0,74.0,True,False,1979,9,BUF,MIA,-10.287500,-6.012500
2503,1,Chicago Bears,6.0,3.0,Green Bay Packers,78.0,11.0,68.0,True,True,1979,9,CHI,GB,-11.683544,-2.151899
2504,1,Denver Broncos,10.0,0.0,Cincinnati Bengals,69.0,6.0,38.0,True,True,1979,9,DEN,CIN,-2.225000,3.600000
2505,1,Kansas City Chiefs,14.0,0.0,Baltimore Colts,76.0,8.0,71.0,True,True,1979,9,KC,IND,-6.957746,1.295775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13226,Division,Tennessee Titans,16.0,19.0,Cincinnati Bengals,35.0,0.0,43.0,False,True,2022,1,TEN,CIN,9.800000,6.400000
13227,Division,Kansas City Chiefs,42.0,36.0,Buffalo Bills,35.0,6.0,54.0,True,True,2022,1,KC,BUF,-1.000000,3.538462
13228,Division,Tampa Bay Buccaneers,27.0,30.0,Los Angeles Rams,50.0,11.0,69.0,False,True,2022,1,TB,LAR,14.500000,-1.125000
13229,Conference,Kansas City Chiefs,24.0,27.0,Cincinnati Bengals,41.0,4.0,41.0,False,True,2022,1,KC,CIN,-7.000000,5.538462
13230,Conference,Los Angeles Rams,20.0,17.0,San Francisco 49ers,72.0,0.0,NaN,True,True,2022,1,LAR,SF,-6.875000,1.375000

In [502]:
humid_df = weather_df.groupby(['team_home', 'schedule_week'])['weather_humidity'].mean()

In [503]:
df2 = pd.read_csv('nfl_teams.csv')

In [504]:
df2.head()

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Phoenix Cardinals,Cardinals,ARI,CRD,NFC,NaN,NFC,NFC East
2,St. Louis Cardinals,Cardinals,ARI,ARI,NFC,NaN,NFC,NFC East
3,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
4,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central

In [505]:
df3 = pd.read_csv('nfl_stadiums.csv', encoding='latin_1')

In [506]:
df3.head()

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_weather_station_code,stadium_weather_type,stadium_capacity,stadium_surface,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
0,Alamo Dome,"San Antonio, TX",NaN,NaN,indoor,"100 Montana St, San Antonio, TX 78203",78203,dome,72000,FieldTurf,NaN,NaN,NaN,NaN,NaN
1,Allegiant Stadium,"Paradise, NV",2020.0,NaN,indoor,NaN,NaN,dome,65000,Grass,NaN,NaN,NaN,NaN,NaN
2,Alltel Stadium,"Jacksonville, FL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alumni Stadium,"Chestnut Hill, MA",NaN,NaN,outdoor,"Perimeter Rd, Chestnut Hill, MA 02467",2467,cold,NaN,Grass,NaN,NaN,NaN,NaN,NaN
4,Anaheim Stadium,"Anaheim, CA",1980.0,1994.0,outdoor,"2000 E Gene Autry Way, Anaheim, CA 92806",92806,warm,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [507]:
df3['ELEVATION'].unique()

array([   nan,  264.9,  163.4,  221.9,  178. ,  189. ,    2.4,   93. ,
        193.9,  238. , 1611.2,    6.1,   15.2,   24.4,    2.1,    8.8,
        366.7,    5.8,  209.4,    3. ,   29.6,  182.9,  227.1,   47.5,
        265.8,   13.4,    1.8,  145.4,  177.7,  375.2])

In [508]:
len(df3['ELEVATION'].value_counts())

29

In [509]:
len(df3['stadium_name'].value_counts())

106